//
//  Common
//  _____________________________________________

& when (@media-common = true) {
	
	.checkout-payment-method .discount-code {
		.payment-option-title {
			padding-left: 0;
			padding-bottom: 0;
		}
		.action-toggle {
			border: 1px solid #215273;
		    background: #215272;
			color: #ffffff;
		    cursor: pointer;
		    display: inline-block;
		    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		    font-weight: 700;
		    padding: 7px 15px;
		    font-size: 1.4rem;
		    vertical-align: middle;
		    border-radius: 3px;
		    &:after {
			    color: #fff;
			    font-size: 42px;
			    &:hover {
				    color: #fff;
				}
		    }
			 _active & {
				 border-radius: 3px 3px 0 0;
			 }
		}	
		.payment-option-content {
			border: 1px solid #215273;
			padding: 16px 14px;
			border-radius: 0 3px 3px 3px;
			max-width: 300px;
		}		
	}	
	
}