<div class="amrepbuilder-column-filter -date -range"
     data-bind="
                afterRender: function(node) {
                    $parent.initDatePicker(node, $data)
                }"
        >
    <label class="amrepbuilder-label">
        <span class="amrepbuilder-text" data-bind="i18n: 'From'"></span>
        <input class="amrepbuilder-input -from"
               name="from"
               data-bind="
                   attr: {
                        id: 'datepicker-from-' + $data.name
                   },
                   value: $data.filtration.value.from" />
        <!-- ko template: $parent.calendarIcon --><!-- /ko -->
    </label>
    <label class="amrepbuilder-label">
        <span class="amrepbuilder-text" data-bind="i18n: 'To'"></span>
        <input class="amrepbuilder-input -to"
               name="to"
               data-bind="
                   attr: {
                        id: 'datepicker-to-' + $data.name
                   },
                   value: $data.filtration.value.to" />
        <!-- ko template: $parent.calendarIcon --><!-- /ko -->
    </label>
</div>

<div class="amrepbuilder-toolbar">
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Cancel'),
                    classes: '-cancel -clear -link',
                    events: {
                        click: function () {
                            $parent.clearRange($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Apply Filters'),
                    classes: '-apply -secondary -clear',
                    states: { '-disabled': $data.filtration.isEmpty },
                    events: {
                        click: function () {
                            $parent.applyFiltration($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
</div>

