<div class="amrepbuilder-column-filter">
    <label class="amrepbuilder-label amrepbuilder-select-block -multiselect">
            <button class="amrepbuilder-input"
                    type="button"
                    data-toggle="dropdown"
                    data-bind="
                           afterRender: function(node) {
                                $parent.initDropdown(node)
                           }">
                <ul class="amrepbuilder-list" data-bind="foreach: $data.filtration.value">
                    <li class="amrepbuilder-item" if="$data.isChecked">
                        <span class="amrepbuilder-text" data-bind="i18n: $data.title"></span>
                        <span class="amrepbuilder-button -clear"
                              data-bind="event: {
                                    click: function() {
                                        event.stopPropagation()
                                        $data.isChecked(false);
                                    }
                              }">
                        </span>
                    </li>
                </ul>
            </button>
            <ul class="amrepbuilder-options" data-target="dropdown" data-bind="foreach: $data.filtration.value">
                <li class="amrepbuilder-item">
                    <input class="amrepbuilder-checkbox"
                           type="checkbox"
                           data-bind="checked: $data.isChecked">
                    <span class="amrepbuilder-text" data-bind="i18n: $data.title"></span>
                </li>
            </ul>
        </label>
</div>

<div class="amrepbuilder-toolbar">
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Cancel'),
                    classes: '-cancel -clear -link',
                    events: {
                        click: function () {
                            $parent.clearMultiselect($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Apply Filters'),
                    classes: '-apply -secondary -clear',
                    states: { '-disabled': $data.filtration.isEmpty },
                    events: {
                        click: function () {
                            $parent.applyFiltration($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
</div>
