<div class="amrepbuilder-column-filter -select" if="$data.options">
    <label class="amrepbuilder-label amrepbuilder-select-block">
            <button class="amrepbuilder-input"
                    type="button"
                    data-toggle="dropdown"
                    data-bind="
                           afterRender: function(node) {
                                $parent.initDropdown(node)
                           },
                           i18n: $data.filtration.title">
            </button>
            <ul class="amrepbuilder-options"
                data-target="dropdown"
                data-bind="foreach: { data: $data.options }">
                <li class="amrepbuilder-item"
                    data-bind="
                           event: {
                                click: function() {
                                    $parent.filtration.title($data.label);
                                    $parent.filtration.value($data.value);
                                    return true;
                                }
                           },
                           i18n: $data.label">
                </li>
            </ul>
        </label>
</div>

<div class="amrepbuilder-toolbar" if="$data.options">
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Cancel'),
                    classes: '-cancel -clear -link',
                    events: {
                        click: function () {
                            $parent.clearSelect($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Apply Filters'),
                    classes: '-apply -secondary -clear',
                    states: { '-disabled': !$data.filtration.value() },
                    events: {
                        click: function () {
                            $parent.applyFiltration($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
</div>

<span ifnot="$data.options" data-bind="i18n: 'No options available'"></span>

