<div class="amrepbuilder-column-filter -text-range -range">
    <label class="amrepbuilder-label">
        <span class="amrepbuilder-text" data-bind="i18n: 'From'"></span>
        <input class="amrepbuilder-input -from"
               data-bind="
                    value: $data.filtration.value.from,
                    event: {
                       keyup: function() {
                            $data.filtration.value.from(event.target.value)
                       }
                    }"
        />
    </label>
    <label class="amrepbuilder-label">
        <span class="amrepbuilder-text" data-bind="i18n: 'To'"></span>
        <input class="amrepbuilder-input -to"
               data-bind="
               value: $data.filtration.value.to,
               event: {
                   keyup: function() {
                        $data.filtration.value.to(event.target.value)
                   }
               }"
        />
    </label>
</div>

<div class="amrepbuilder-toolbar">
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Cancel'),
                    classes: '-cancel -clear -link',
                    events: {
                        click: function () {
                            $parent.clearRange($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Apply Filters'),
                    classes: '-apply -secondary -clear',
                    states: { '-disabled': $data.filtration.isEmpty },
                    events: {
                        click: function () {
                            $parent.applyFiltration($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
</div>

