<div class="amrepbuilder-column-filter -text">
    <label class="amrepbuilder-label">
        <input class="amrepbuilder-input"
               data-bind="
                   event: {
                        keyup: function() {
                            $data.filtration.value(event.target.value)
                        }
                   },
                   value: $data.filtration.value" />
    </label>
</div>

<div class="amrepbuilder-toolbar">
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Cancel'),
                    classes: '-cancel -clear -link',
                    events: {
                        click: function () {
                            $parent.clearText($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
    <!-- ko template: {
                name: $parent.buttonTmpl,
                data: {
                    html: $t('Apply Filters'),
                    classes: '-apply -secondary -clear',
                    states: { '-disabled': !$data.filtration.value() },
                    events: {
                        click: function () {
                            $parent.applyFiltration($data);
                        }
                    }
                }
            } -->
    <!-- /ko -->
</div>
