<div id="galleryWrap" style="display: none">
    <div class="pikachoose">
        <ul id="pikame" >
            <li><a href="https://www.holfordirect.com/supplements.html" target="_parent"><img src="<?php echo $block->getViewFileUrl("images/gallery/slide1.jpg")?>"/></a><span></span></li>
        </ul>
    </div>
    <div id="galleryMenuWrap">
        <div id="galleryMenuCat1"> 
            <a href="https://www.holfordirect.com/about-us" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#215273">ABOUT US</div>
            </a>
            <a href="https://www.holfordirect.com/supplements/essentials.html" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#3380A9">ESSENTIALS</div>
            </a> <a href="https://www.holfordirect.com/supplements/metabolism.html" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#D43349">METABOLISM</div>
            </a> <a href="https://www.holfordirect.com/supplements/mind.html" target="_parent"> <div id="galleryMenuCat1Ele" style="background-color:#804E8C">MIND</div>
            </a> <a href="https://www.holfordirect.com/supplements/body.html" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#70974D">BODY</div>
            </a>  <a href="https://www.holfordirect.com/supplements/women.html" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#DC778E">WOMEN</div>
            </a> <a href="https://www.holfordirect.com/supplements/packs.html" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#C0A777">PACKS</div>
            </a> <a href="https://www.holfordirect.com/supplements/other.html" target="_parent">
                <div id="galleryMenuCat1Ele" style="background-color:#BCBCBC">OTHER</div>
            </a> </div>
    </div>
</div>

<script language="javascript">
    require([
        'jquery',
    ], function(jQuery) {
        require([
            'pikachoose',
            'jcarousel',
            'touchwipe'
        ], function() {
            jQuery(document).ready(
                function () {
                    jQuery("#galleryMenuCat1").hide();
                    jQuery("#galleryMenuCat2").hide();
                    jQuery("#galleryMenuCat3").hide();

                    var galleryMenuStatus = 0;

                    function sortGalleryMenu(self) {
                        galleryMenuStatus = galleryMenuStatus + 1;

                        jQuery("#galleryMenuCat1").hide();
                        jQuery("#galleryMenuCat2").hide();
                        jQuery("#galleryMenuCat3").hide();

                        if (galleryMenuStatus == 1) {
                            jQuery("#galleryMenuCat1").css('display', 'flex');
                        } else if (galleryMenuStatus == 2) {
                            jQuery("#galleryMenuCat2").css('display', 'flex');
                        } else {
                            jQuery("#galleryMenuCat3").css('display', 'flex');
                            galleryMenuStatus = 0;
                        }
                    }

                    jQuery("#pikame").PikaChoose({
                        animationFinished: sortGalleryMenu,
                        carousel: true,
                        speed: 10000,
                        text: {previous: "", next: ""}
                    });
                    jQuery('#galleryWrap').show();
                });
        });
    });
</script>
