<!--@subject {{trans "Recommendation for %client_name" client_name=$client_name}} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">Dear {{var client_name}}</p> 
<p>Following your consultation, here is an overview of my recommended products for you. As my client, you will receive a special 10% discount which is applied when you "Proceed to checkout". The discount, however, is only shown on the last PAYMENT page.</p>


<p style="margin-bottom:4px;margin-top:16px"><strong>Guidelines:</strong></p>
{{var notes|raw}}

<p style="margin-bottom:4px;margin-top:16px"><strong>Your recommended items</strong></p>
{{var products_table|raw}}

<div style="margin:20px 0">
<small style="font-size: 13px;text-align: right;display: block;color: #999;margin-bottom:6px;">Note: Shipping charges will be added to the checkout where applicable.</small>
<p style="text-align: right">
	<a href="{{var url}}" class="button" style="
		display:inline-block;
		color: #fff;
		font-weight: bold;
		border: 1px solid #215273;
		background: #215272;
		padding: 14px 17px;
		border-radius: 3px;
		    ">Proceed to Checkout</a>
</p>
</div>

<p style="margin-bottom:4px;padding-top:10px;border-top:1px solid #c2c2c2"><strong>If you have any questions regarding this recommendations product list please contact me on:</strong></p>
{{var address|raw}}

{{template config_path="design/email/footer_template"}}