<?php if ($block->getItemsCount() > 0): ?>
    <?php $totals = $block->getTotals(); ?>
    <?php $total = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($totals['grand_total']->getValue(),true,false); ?>

    <div class="cart-overview">

        <button id="continue"><a class="action continue"
           href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
           title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
            <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
        </a></button>

        <div class="basket-sub-total">
            <span class="basket-sub-total_title">Basket Sub Total:</span> <span class="basket-sub-total_price"><?php echo $total ?></span> <span class="basket-sub-total_price"><?php echo $block->getBasketSubTotal() ?></span>
        </div>

        <button id="edit-basket">Edit Basket</button>
        <?php echo $block->getChildHtml('objectsource.cart.summary.checkout') ?>
    </div>

    <script type="text/javascript">
        require([
            'jquery',
            'domReady!'
        ], function($) {
            $('#edit-basket').click(function() {
                $('.cart-overview').hide();
                $('.cart-container').show();
                $('.page-title-wrapper').show();
            });
        });
    </script>
<?php endif; ?>

<?php // Hide the cart content and the summary on page load. Only show when "editing basket" ?>
<style>
    .checkout-cart-index .cart-container {
        display: none;
    }

    .checkout-cart-index .page-title-wrapper {
        display: none;
    }
</style>
