<section class="amrepbuilder-header">
    <span class="amrepbuilder-title" data-bind="i18n: item.title ? item.title : item.frontend_label"></span>
    <span class="amrepbuilder-type" data-bind="i18n: item.type ? item.type : item.backend_type"></span>
</section>
