<!-- ko foreach: {data: rules, as: 'rule'} -->
<tr class="amcoupons-total-coupons" attr="style:$parent.style">
    <th class="mark" scope="row">
        <span class="coupon_code" data-bind="text:rule.rule_name"></span>
    </th>
    <td class="amount">
        <span class="coupon_amount" data-bind="text:rule.rule_amount"></span>
    </td>
</tr>
<!-- /ko -->
