<div class="admin__field-tooltip amreportbuilder-image-tooltip">
    <a class="admin__field-tooltip-action action-help" target="_blank" tabindex="1" attr="href: tooltip.link"></a>
    <div class="admin__field-tooltip-content" html="tooltip.description"></div>
</div>
