//
//  Common
//  _____________________________________________

& when (@media-common = true) {
	
	.form-email-cart {
		border: 4px solid #f5f5f5;
		padding: 20px;
		.discount_code .control {
			padding-top: 7px;		
			color: #999;
		}
		&-intro {
		    background: #f5f5f5;
		    padding: 1rem 2rem;
		}
		&-products {
			td,
			th {
				border: 1px solid #eee;
			}
			img {
				display: block;
			}
		}
	}
	
}