<section class="amrepbuilder-dependencies-block" if="Object.keys($data.elems).length" data-bind="css: { '-active': isActive }">
    <ul class="amrepbuilder-items">
        <li class="amrepbuilder-title" data-bind="i18n: 'Сonnections'"></li>
        <!-- ko foreach: { data: Object.keys($data.elems), as: 'key' } -->
            <li class="amrepbuilder-item" data-bind="i18n: $parent.elems[key].title"></li>
        <!-- /ko -->
    </ul>
</section>
