<ul class="amrepbuilder-entities-list -main"
    if="$data.elems().length"
    data-bind="foreach: $data.elems">
    <li class="amrepbuilder-item">
        <!-- ko template: {
            name: $parent.entityTmpl,
            data: { entity: $data, uiClass: $parent }
        } -->
        <!-- /ko -->
    </li>
</ul>
