<?php
$topReviews = $block->getTopReviews();
?>
<h4>Product Reviews</h4>
<div class="top-reviews__content">
	<h5 class="product-name"><?php echo $block->getProductName(); ?></h5>

    <!-- TrustBox widget - Product Mini -->
    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="602d09b1f18d160001d43de6" data-style-height="24px" data-style-width="100%" data-theme="light" data-sku="<?php echo $block->getProduct()->getSku(); ?>" data-no-reviews="hide" data-scroll-to-list="false">
      <a href="https://uk.trustpilot.com/review/holfordirect.com" target="_blank" rel="noopener">Trustpilot</a>
  </div>
  <!-- End TrustBox widget -->

  <?php if (count($topReviews)): ?>
    <ul>
        <?php foreach ($topReviews as $review): ?>
            <li>
                <div class="top-review-rating">
                    <div class="review-ratings">
                        <div class="rating-summary item">
                            <div class="rating-result">
                                <span style="width:<?php echo $review['rating']; ?>%">
                                    <span itemprop="ratingValue"><?php echo $review['rating']; ?>%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="top-review-author"><?php echo $review['author']; ?> on <?php echo $review['date'] ?></p>
                <p class="top-review-content"><div class="less"><?php $st = $review['content']; echo substr($st,0,150).'<a href="javascript:void(0)"> Read More...</a>'; ?></div><div class="more" style="display:none;"><?php echo $review['content'].'<a href="javascript:void(0)"> Read Less...</a>'; ?></div></p>
            </li>
        <?php endforeach; ?>
    </ul>
    <?php else: ?>
        <!-- <p>There are no reviews yet. Be the <a class="show-reviews" href="#reviews">first</a>!</p> -->
    <?php endif; ?>
</div>
<?php if (count($topReviews)): ?>
    <a id="view-more-reviews" class="show-reviews view-more-reviews" href="#reviews">View More Reviews</a>
<?php endif; ?>
<script type="text/javascript">
    require([
        'jquery',
        'domReady!'
        ], function($) {

            $('.show-reviews').click(function(e) {
                $('#tab-label-reviews-title').click();
            });
            $('.less a').click(function(e){
                $(this).parent().next().show();
                $(this).parent().hide();
            });
            $('.more a').click(function(e){
                $(this).parent().hide();
                $(this).parent().prev().show();
            });
        })
    </script>


