<ul class="amrepbuilder-column-toolbar" data-bind="foreach: { data: $data.uiClass.elems(), as: 'tmplName' }">
    <li class="amrepbuilder-item">
        <!-- ko template: { name: tmplName, data: { uiClass: $parent.uiClass, item: $parent.item } } --><!-- /ko -->
    </li>
</ul>
