//
//  Available Block Component
//  ______________________________________________

//
//  Imports
//  ----------------------------------------------

@import '../../_helpers';

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amrepbuilder-available-block {
        .amrepbuilder-columns-list,
        .amrepbuilder-columns-list .amrepbuilder-column-block {
            & {
                &:extend(._am-hide all);
            }

            &.-disabled {
                pointer-events: none;
            }
        }

        .amrepbuilder-column-block .amrepbuilder-header {
            .am-flex(space-between, center);
        }

        .amrepbuilder-column-toolbar,
        .amrepbuilder-column-footer {
            display: none;
        }
    }
}
