//
//  Chosen Block Component
//  ______________________________________________

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amrepbuilder-chosen-block {
        & {
            padding: 0 0 @amrepbuilder__indent__m;
        }

        .amrepbuilder-chosen {
            & {
                .am-flex(none, none);

                align-content: flex-start;
                flex-direction: column;
                flex-grow: 1;
                padding: @amrepbuilder__indent__m;
                width: 100%;
                border: 1px dashed #bfc5da;
                border-radius: 5px;
            }

            &.-hovered,
            &:active {
                border-color: #007bdb;
                background: #f1f7ff;
            }
        }

        .amrepbuilder-button.-clearall {
            display: inline-flex;
            justify-self: flex-end;
            margin: 0 0 0 auto;
            font-weight: @font-weight__semibold;
        }

        .amrepbuilder-header:before {
            display: inline-block;
            margin-right: 12.5px;
            min-width: 7px;
            height: 20px;
            border-right: 3px dotted #a4b0c7;
            border-left: 3px dotted #a4b0c7;
            content: '';
        }

        .amrepbuilder-columns-list {
            flex-grow: 1;
            min-height: 110px;
        }

        .amrepbuilder-type {
            display: none;
        }
    }
}
