//
//  Column Header Component
//  ______________________________________________

//
//  Imports
//  ----------------------------------------------

@import '../../_mixins';

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amrepbuilder-columns-list {
        & {
            margin: @amrepbuilder__indent 0 0 0;
            padding: 0;
            width: 100%;
            list-style: none;
        }

        .amrepbuilder-title {
            font-size: 1.4rem;
        }

        .amrepbuilder-type {
            .am-flex(center, center);

            padding: 0 2px;
            min-width: 60px;
            height: 18px;
            border: 1px solid transparent;
            border-radius: 3px;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    .amrepbuilder-entity-block > .amrepbuilder-column-block:not(:first-child) {
        margin-top: @amrepbuilder__indent;
    }
}
