//
//  Dependencies Component
//  ______________________________________________

//
//  Imports
//  ----------------------------------------------

@import '../../_mixins';
@import '../../_helpers';

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amrepbuilder-dependencies-block {
        & {
            &:extend(._am-hide all);
            .am-flex(none, flex-start, wrap);

            padding: @amrepbuilder__indent__l 0 @amrepbuilder__indent 0;
        }

        .amrepbuilder-title {
            & {
                .am-flex(center, center);

                margin-bottom: 10px;
                padding: 0 5px 0 0;
                height: 24px;
                color: #989898;
                font-size: 1.2rem;
                line-height: 0;
            }

            &:after {
                content: ':';
            }
        }

        .amrepbuilder-items {
            .am-flex(none, none, wrap);

            margin: 0;
            padding: 0;
            list-style: none;
        }

        .amrepbuilder-item {
            & {
                .am-flex(center, center);

                margin-bottom: @amrepbuilder__indent;
                padding: 3px 5px;
                height: 24px;
                border: 1px solid transparent;
                border-radius: 4px;
                background: #e7ebf6;
                color: #777b8b;
                font-weight: 600;
            }

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}
