<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        $authorName = $_product->getProduct_author();
						if(strlen($authorName) >= 33){
									$stringCut = substr($authorName, 0, 33);
									$authorName = substr($stringCut, 0, strrpos($stringCut, ' ')).'...';
						}
						echo '<div class="smallAuthor">'.$authorName.'</div>';
						?>
                        
                        <span class="product name product-item-name" style="text-align:center;">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ $prodName = $_helper->productAttribute($_product, $_product->getName(), 'name'); 
								if(strlen($prodName) >= 28){
									$stringCut = substr($prodName, 0, 28);
									$prodName = substr($stringCut, 0, strrpos($stringCut, ' ')).'...';
								}
								$authorName = $_product->getProduct_author();
								 echo $prodName;
								?>
                            </a>
                        </span>
						<?php echo $block->getProductDetailsHtml($_product); ?>
                        <?php 
						$string = strip_tags($_product->getStrapline_description());
						$stringCut = substr($string, 0, 50);
						 $string = substr($stringCut, 0, strrpos($stringCut, ' ')).'... <a href="'.$_product->getProductUrl().'">Read More</a>';
						 echo '<div class="smallDescript">'.$string.'</div>';
						 $categoryIds =  $_product->getCategoryIds();
						 $categoryIdsDisountCheck = false;
						 foreach ($categoryIds as $category){ 
						 	if($category == 5){
								 $categoryIdsDisountCheck = true;
							}
						 }
						?>
                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product);                        
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $customerSession = $objectManager->create('Magento\Customer\Model\Session');
                        /** @var \Objectsource\EmailCart\Helper\Customer $_customerHelper */
                        $_customerHelper = $this->helper('Objectsource\EmailCart\Helper\Customer');
                        if ((!$_product->getHideMemberPrice() || $customerSession->isLoggedIn()) && !$_customerHelper->isPractitioner()) {
                            $membersPrice = $_product->getPrice();
                            $membersPrice = $membersPrice - (0.2 * $membersPrice);
                            $membersOverride = $_product->getMembersPriceOverride();
                            if($membersOverride >= 0.01){
                                $membersPriceDisplay = $membersOverride;
                            }else{
                                $membersPriceDisplay = $membersPrice;
                            }
                            $membersPriceDisplay = number_format((float)$membersPriceDisplay, 2, '.', '');
                            echo '<div class="memPrice"><span class="memHigh">MEMBERS</span> &pound;'.$membersPriceDisplay.'</div>';
                        }
						?>
                        
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <?php
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $customerSession = $objectManager->create('Magento\Customer\Model\Session');
                                        if ($_product->isSaleable() && (!$_product->getHideAddToCart() || $customerSession->isLoggedIn())):
                                            $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                <?php 
                                                $_stock = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId());

                                                if ($_stock->getQty() > 0): ?>
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                <?php else: ?>
                                                    <span><?php echo __('Pre Order') ?></span>
                                                <?php endif; ?>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                       class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
