//
//  Column Header Component
//  ______________________________________________

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amrepbuilder-column-header {
        & {
            margin: 0;
        }

        .amrepbuilder-title {
            color: #303030;
            letter-spacing: .03em;
            font-weight: @font-weight__semibold;
            font-size: 1.7rem;
            line-height: 2.3rem;
        }

        .amrepbuilder-desc {
            display: block;
            margin: 0;
            padding: @amrepbuilder__indent__l 0;
            color: #989898;
            font-size: 1.4rem;
            line-height: 19px;
        }
    }
}
