<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Coupons
 */
?>
<?php
/**
 * @var \Amasty\Coupons\Block\Adminhtml\Order\Create\Coupons\Form $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<div class="admin__field field-apply-coupon-code amcoupons-main-container">
    <label class="admin__field-label"><?= $escaper->escapeHtml(__('Apply Coupon Code')) ?></label>
    <div class="admin__field-control">
        <?php $coupons = $block->getCouponsCodes(); ?>
        <?php if ($coupons): ?>
            <?php foreach ($coupons as $coupon): ?>
                <p class="added-coupon-code">
                    <?= $escaper->escapeHtml($coupon) ?>
                    <input type="hidden" class="amCouponsCode" value="<?= $escaper->escapeHtml($coupon); ?>"/>
                    <a href="#"
                       title="<?= $escaper->escapeHtml(__('Remove Coupon Code')) ?>"
                       class="action-remove"><span><?= $escaper->escapeHtml(__('Remove')) ?></span></a>
                </p>
            <?php endforeach; ?>
        <?php endif; ?>
        <div class="amcoupons-coupon-input">
            <input type="text" class="admin__control-text amcoupons-input" id="coupons:code" value="" name="coupon_code"/>
            <input type="hidden" class="input-text" id="coupon_code" name="coupon_code"/>
            <?= $block->getButtonHtml(__('Apply'), $block->getCouponJs()) ?>
        </div>
        <script>
            require(["Magento_Sales/order/create/form"], function () {
                order.overlay('shipping-method-overlay', <?= ($block->getQuote()->isVirtual()) ? false : true ?>);
                order.overlay('address-shipping-overlay', <?= ($block->getQuote()->isVirtual()) ? false : true ?>);
            });
            require(["Amasty_Coupons/js/coupon"]);
        </script>
    </div>
</div>
