<section class="amrepbuilder-chosen-block">
    <!-- ko template: { name: headerTmpl, $data: $data } --><!-- /ko-->

    <section class="amrepbuilder-chosen" afterRender="initDropZone.bind($data)">
        <!-- ko template: {
            name: buttonTmpl,
            data: {
                states: {
                    '-active': true,
                    '-disabled': $data.elems().length <= 1
                },
                html: $t('Clear all'),
                classes: '-clearall -clear -link',
                events: {
                    click: function () {
                        clearAll()
                    }
                }
            }
        } -->
        <!-- /ko -->
        <!-- ko template: columnsListTmpl --><!-- /ko -->
    </section>
</section>
