<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();

 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $parentcategory = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    
?>
<div class="block filter">
        <div class="block-title filter-title">
            <strong>Shop By</strong>
        </div>
        <div class="block-content filter-content">
            <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle">Shopping Options</strong>
            <dl class="filter-options" id="narrow-by-list">
                <dt role="heading" aria-level="3" class="filter-options-title">Category</dt>
                <dd class="filter-options-content">
                    
<?php
foreach($categories as $category):
     if (!$category->getIsActive() || $parentcategory->getName() != $category->getName()) {
        continue;
     }

?>
<?php  
if($childrenCategories = $this->getChildCategories($category)):
?>
<ol class="items">
<?php
foreach($childrenCategories as $childrenCategory):
     if (!$childrenCategory->getIsActive()) {
        continue;
     }
?>
<li class="item">
    <a href="<?php echo $categoryHelper->getCategoryUrl($childrenCategory) ?>"><?php echo $childrenCategory->getName() ?>
        <span class="count"><?php echo $childrenCategory->getProductCount(); ?><span class="filter-count-label">items</span></span>
    </a>
</li>
<?php
endforeach;
?>
</ol>
<?php
endif;
endforeach;
?>
</dd>
            </dl>
        </div>
    </div>


                        
                    
                


