<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$isLoggedIn = $customerSession->isLoggedIn();

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<style>
    .header #headerWrapLinks {
    width: 245px;
}
</style>
      <div id="headerWrapLinks">
        <div id="headerWrapLinksEle1">

          <?php if ($isLoggedIn): ?>
              <div id="headerWrapLinksImage"><a href="<?php echo $block->getUrl('customer/account/') ?>"><img src="<?php echo $block->getViewFileUrl('images/header/profile.png'); ?>" width="28" height="25" /> </a></div>
              <p>PROFILE</p>
              </div>
          <div id="headerWrapLinksEle2">
               <div id="headerWrapLinksImage"> <a href="<?php echo $block->getUrl('customer/account/logout'); ?>"><img src="<?php echo $block->getViewFileUrl('images/header/profile.png'); ?>" width="28" height="25" /></a> </div>
          <p>SIGN OUT</p>
          </div>
          <?php else: ?>
              <div id="headerWrapLinksImage"><a href="<?php echo $block->getUrl('customer/account/') ?>"><img src="<?php echo $block->getViewFileUrl('images/header/profile.png'); ?>" width="28" height="25" /> </a></div>
              <p>SIGN IN</p>
              </div>
           <?php endif; ?>
        <div id="headerWrapLinksEle2">
          <div id="headerWrapLinksImage"> <a href="https://www.holfordirect.com/contact-us"><img src="<?php echo $block->getViewFileUrl('images/header/email.png'); ?>" width="26" height="25" /></a> </div>
          <p>CONTACT</p>
          </div>
      </div>

<div data-block="minicart" class="minicart-wrapper">
    <a class="action showcart" href="<?= $block->escapeUrl($block->getShoppingCartUrl()) ?>"
       data-bind="scope: 'minicart_content'">
        <span class="text"><?= $block->escapeHtml(__('My Cart')) ?></span>
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false && !isLoading() }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()) :?>
        <div class="block block-minicart"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?= $block->getChildHtml('minicart.addons') ?>
        </div>
    <?php else :?>
        <script>
            require(['jquery'], function ($) {
                $('a.action.showcart').click(function() {
                    $(document.body).trigger('processStart');
                });
            });
        </script>
    <?php endif ?>
    <script>
        window.checkout = <?= /* @noEscape */ $block->getSerializedConfig() ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= $block->escapeJs(
                $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))
            ) ?>"
        }
    }
    </script>
    <p style="text-align:center; color:#ffffff;">BASKET</p>
</div>

<div id="headerWrapOtherSites">
        <div id="headerWrapLinksEle1"><a href="https://www.holfordirect.com/"><img src="<?php echo $block->getViewFileUrl('images/header/UK.png'); ?>" width="30" height="20" /></a></div>
        <div id="headerWrapLinksEle2"><a href="#"><img src="<?php echo $block->getViewFileUrl('images/header/EU.png'); ?>" width="30" height="20" /></a></div>
        <div id="headerWrapLinksEle2"><a href="http://www.holforddirect.co.za/"><img src="<?php echo $block->getViewFileUrl('images/header/SouthAfrica.png'); ?>" width="30" height="20" /></a></div>
      </div>
