<form action="<?php echo $block->getUrl('hd_newsletter/account/changesub') ?>" method="post" class="additional-newsletter-subscription">
	<fieldset class="fieldset">
		<p>
			<input type="checkbox" name="email_opt_in_hd" id="email_opt_in_hd" <?php if ($this->isCustomerSubscribedToHD()): ?>checked="checked" <?php endif ?>>
			<label for="email_opt_in_hd">
				<strong>Keep me informed about special offers</strong>
				We will only send you details of our products, to help you save money and support your health.
			</label>
		</p>
		<p>
	    	<input type="checkbox" name="email_opt_in_ph" id="email_opt_in_ph" <?php if ($this->isCustomerSubscribedToPH()): ?>checked="checked" <?php endif ?>>
	    	<label for="email_opt_in_ph">
				<strong>Please send me Patrick's free health newsletter</strong>
				Stay up to date and fully informed about how to be healthy.
			</label>
		</p>
	</fieldset>
    <p><button type="submit" class="primary action">Submit</button></p>
</form>

