<p class="amrepbuilder-column-header">
    <b class="amrepbuilder-title" if="$data.title" translate="$data.title"></b>
    <span class="amrepbuilder-desc" if="$data.descr" translate="$data.descr"></span>
</p>
