<?php
$_parent = $this->getParentCategory();
$_children = $this->getChildCategories()
?>
<div class="parent-category-wrapper">
	<ul class="parent-category <?php echo $this->getClassName($_parent); ?> count-<?php echo count($_children) ?>">
	    <?php foreach ($_children as $_category): ?>
	        <li>
	            <a href="<?php echo $_category->getUrl() ?>" class="<?php echo $this->getClassName($_category) ?><?php if ($_parent->getId() == $_category->getId()): ?> selected<?php endif; ?>">
	                <span class="child-category <?php echo $this->getClassName($_category) ?>"><?php echo $_category->getName() ?></span>
	            </a>
	        </li>
	    <?php endforeach; ?>
	</ul>
</div>