//
//  Inputs Component
//  ______________________________________________

//
//  Imports
//  ----------------------------------------------

@import '../_mixins';

//
//  Variables
//  ----------------------------------------------

@amrepbuilder-input-color__hover: @amrepbuilder-color__hover;
@amrepbuilder-input__border-color: #ccc;

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .admin__field .admin__field-tooltip.amreportbuilder-image-tooltip {
        .admin__field-tooltip-content {
            width: 35vw;
        }
    }

    .amrepbuilder-checkbox {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .amrepbuilder-input {
        & {
            flex-basis: 100%;
            padding: @amrepbuilder__indent / 2;
            height: 34px;
            border: 1px solid #adadad;
            border-radius: 1px;
            background: #fff;
            font-size: 14px;
        }

        &:focus {
            border-color: @amrepbuilder-input-color__hover;
        }
    }

    .amrepbuilder-select-block {
        & {
            .am-flex(none, none, wrap);
        }

        &:not(.active) .amrepbuilder-options {
            display: none;
        }

        &:not(.active) .amrepbuilder-input:after {
            transform: rotate(180deg) translateY(-2px);
        }

        &.active .amrepbuilder-input {
            border-color: @amrepbuilder-input-color__hover;
        }

        .amrepbuilder-input {
            & {
                position: relative;
                overflow: hidden;
            }

            &:after,
            &:before {
                .am-flex(center, center);

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }

            &:before {
                width: 34px;
                background: #e3e3e3;
                content: '';
            }

            &:after {
                margin: auto 0;
                padding: 5px 12px;
                content: '▴';
                font-size: 16px;
                transition: .1s;
                transform: translateY(-1px);
            }
        }

        .amrepbuilder-options {
            flex-basis: 100%;
            margin: 1px 0 0 0;
            padding: @amrepbuilder__indent 0;
            border: 1px solid @amrepbuilder-button-color__hover;
            list-style: none;
        }

        .amrepbuilder-options .amrepbuilder-item {
            & {
                .am-flex(none, center);

                padding: 2px @amrepbuilder__indent;
                font-weight: 400;
                font-size: 14px;
                line-height: @amrepbuilder__indent__l;
                cursor: pointer;
                transition: .3s;
            }

            &:not(:last-child) {
                margin-bottom: @amrepbuilder__indent;
            }

            &:hover {
                background: #f1f7ff;
            }
        }

        .amrepbuilder-input {
            & {
                .am-flex(none, center, wrap);

                text-align: left;
                font-weight: 400;
                cursor: pointer;
            }

            &:hover,
            &:focus {
                border-color: @amrepbuilder-button-color__hover;
                background: #fff;
            }
        }
    }

    .amrepbuilder-select-block.-multiselect {
        .amrepbuilder-input {
            padding: 0;
        }

        .amrepbuilder-input > .amrepbuilder-list {
            .am-flex(none, center, wrap);

            overflow: hidden;
            margin: 0;
            padding: 0 0 0 7.5px;
            width: 90%;
        }

        .amrepbuilder-input > .amrepbuilder-list > .amrepbuilder-item {
            .am-flex(none, center);

            box-sizing: border-box;
            margin: 4px 2.5px;
            padding: 0 0 0 @amrepbuilder__indent;
            border: 1px solid #514943;
            border-radius: 1px;
            background: #e3e3e3;
            font-size: 12px;
        }

        .amrepbuilder-input > .amrepbuilder-list .amrepbuilder-button {
            & {
                padding: 11px 8px;
                color: #514943;
                font-size: 10px;
                line-height: 0;
                cursor: pointer;
            }

            &:before {
                content: 'x';
            }
        }

        .amrepbuilder-options .amrepbuilder-text {
            padding: 0 0 0 7px;
        }
    }
}
