//
//  Base Styles
//  ______________________________________________

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .amrepbuilder-wrapper > * {
        box-sizing: border-box;
    }

    .amrepbuilder-chosen-block,
    .amrepbuilder-available-block {
        .am-flex(none, flex-start, wrap);

        align-self: stretch;
        flex-direction: column;
        max-width: 430px;
        width: 100%;
    }

    .amreportbuilder-amchart-container {
        min-height: 460px;
        width: 100%;
    }

    .amreportbuilder-report-view {
        .admin__data-grid-action-bookmarks {
            display: none;
        }
    }

    .admin__collapsible-block-wrapper.fieldset-wrapper.amrebuilder-axis-fieldset {
        margin-top: 50px;
        border-top: 1px solid @amrepbuilder-input__border-color;
        border-bottom-color: transparent;
    }

    .amreportbuilder-report-edit .admin__collapsible-block-wrapper.fieldset-wrapper {
        border-bottom-color: transparent;
    }

    .amreportbuilder-image-tooltip .admin__field-tooltip-content {
        max-width: 28vw;
    }
}
