//
//  Helpers
//  _____________________________________

._am-hide {
    & {
        transition: opacity, height .3s ease-in;
    }

    &:not(.-active) {
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        border: none;
        opacity: 0;
    }
}
