//
//  Variables
//  ____________________________________________

//
//  Indents
//  --------------------------------------------

@amrepbuilder__indent: 10px;
@amrepbuilder__indent__m: @amrepbuilder__indent + @amrepbuilder__indent / 2;
@amrepbuilder__indent__l: @amrepbuilder__indent * 2;
@amrepbuilder__indent__xl: @amrepbuilder__indent__l + @amrepbuilder__indent / 2;

//
//  Colors
//  --------------------------------------------

@amrepbuilder-color__hover: #007bdb;
