<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Coupons
 */
?>
<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Magento\Framework\Escaper $escaper
 * @var \Amasty\Coupons\ViewModel\Coupons $viewModel
 */
$viewModel = $block->getViewModel();
?>
<div id="block-discount"
     class="block discount"
     data-mage-init='{"collapsible":{
         "active": <?= $viewModel->isCouponsSet() ? 'true' : 'false' ?>,
         "openedState": "active",
         "saveState": false}
     }'>
    <div class="title" data-role="title">
        <strong id="block-discount-heading" role="heading" aria-level="2">
            <?= $escaper->escapeHtml(__('Discount Codes')); ?>
        </strong>
    </div>
    <div class="content" data-role="content" aria-labelledby="block-discount-heading" data-bind="scope:'discount-coupons'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
    <script type="text/x-magento-init">
        {
            "#block-discount": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
</div>
