<?php
/** @var \Magento\Backend\Block\Template $block */
/** @var \Magento\Framework\Escaper $escaper */
/** @var \Amasty\ReportBuilder\ViewModel\Adminhtml\View\Chart $viewModel */

$viewModel = $block->getData('view_model');
?>

<div class="amrepbuilder-chart-wrapper" data-role="amrepbuilder-content">
    <?php if ($viewModel->isShowChart()): ?>
        <?php if ($chartData = $viewModel->getChartData()): ?>
            <div id="chart-view" data-chart-identifier="value" class="amrepbuilder-chart-container"></div>

            <script>
                require([
                    "jquery",
                    "Amasty_ReportBuilder/js/charts/linearCharts"
                ], function ($, widget) {
                    widget({
                        "data" : <?= /* @noEscape */ json_encode($chartData); ?>,
                        "selectorInit" : "chart-view",
                        "xAxisType" : "<?= $escaper->escapeHtml($viewModel->getXAxisType()); ?>",
                        "yAxisType" : "<?= $escaper->escapeHtml($viewModel->getYAxisType()); ?>",
                        "interval" : "<?= $escaper->escapeHtml($viewModel->getInterval()); ?>"
                    }, $('#chart-view'));
                });
            </script>
        <?php endif; ?>
    <?php endif; ?>
</div>
