.pikachoose {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
/* Style the thumbnails */
.pika-thumbs {
	height: 102px;
	display: none;
	visibility: hidden;
}
.pika-thumbs li {
	width: 136px;
	height: 102px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
	list-style-type: none;
	cursor: pointer;
}
.pika-thumbs li .clip {
	position: relative;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {
	width: 100%;
}
.pika-stage {
	position: relative;
	text-align: center;
	height: auto;
}
.pika-stage img {
	display: block;
    max-width: 100%;
    height: auto !important;
}
.pika-stage .caption {
    position: relative;
	text-align: center;
    margin: 15px auto;
    font-size: 20px;
    color: #215273;
    clear: both;
    width: 100%;
}
    @media screen and (min-width: 768px) {
        .pika-stage .caption {
            position: absolute;
            margin-top: 20px;
            font-size: 40px;
            top: 0;
        }
    }
#pikameNav{
	position:relative;
	display: block;
	background-color:#06C;
	top:0;
}
.pika-stage .caption p {
	padding: 0;
	margin: 0;
	line-height: 14px;
}
/* Ths play, pause, prev and next buttons */
.pika-imgnav a {
	position: absolute;
	text-indent: -5000px;
	display: block;
	z-index: 3;
}
.pika-imgnav a.previous {
    background: url(../images/gallery/arrowLeft.png) no-repeat right 45%;
	left: 0;	
}
.pika-imgnav a.next {
    background: url(../images/gallery/arrowRight.png) no-repeat right 45%;
	right: 0;	
}
    .pika-imgnav a.previous,
    .pika-imgnav a.next {
        background-size: 30px;
        cursor: pointer;
        height: 100%;
        width: 30px;
        top: 5px;
    }
    

    @media screen and (min-width: 768px) {
        .pika-imgnav a.previous,
        .pika-imgnav a.next {
            background-size: 100%;
            width: 50px;
            top: 10px;
        }
    }

/* The previous and next textual buttons */
.pika-textnav {
	overflow: hidden;
	margin: 10px 0 0 0;
	bottom: 10px;
	position: absolute;
}
.pika-textnav a {
	font-size: 12px;
	text-decoration: none;
	color: #333;
	padding: 4px;
}
.pika-textnav a.previous {
	float: left;
	width: auto;
	display: block;
}
.pika-textnav a.next {
	float: right;
	width: auto;
	display: block;
}
/*for the tool tips*/
.pika-tooltip {
	font-size: 12px;
	position: absolute;
	color: white;
	padding: 3px;
	background-color: rgba(0,0,0,0.7);
	border: 3px solid black;
}
.pika-counter {
	position: absolute;
	bottom: 45px;
	left: 15px;
	color: white;
	background: rgba(0,0,0,0.7);
	font-size: 11px;
	padding: 3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
	visibility: hidden;
}
/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader {
	background: url(loading.gif) 3px 3px no-repeat #000;
	background-color: rgba(0,0,0,0.9);
	color: white;
	width: 60px;
	font-size: 11px;
	padding: 5px 3px;
	text-align: right;
	position: absolute;
	top: 15px;
	right: 15px;
}
