<?php
/** @var \Aheadworks\Wbtab\Block\WbtabAbstract $block */

if ($block->isBlockEnabled()):
?>
    <div class="<?php echo $block->getNameInLayout() ?>"></div>
    <script type="text/javascript">
        require(['jquery', 'mage/apply/main'], function(){
            ajaxBlockUrl = '<?php echo $block->getUrl('wbtab/ajax/prepareContent', ['_secure' => $block->getRequest()->isSecure()]) ?>';
            shouldReplaceNativeBlock = '<?php echo $block->shouldReplaceNativeBlock() ?>';
            jQuery.ajax({
                url: ajaxBlockUrl,
                type: "POST",
                dataType: 'json',
                context: this,
                data: {
                    isAjax: 'true',
                    block_type: '<?php echo $block->getBlockType()?>',
                    block_title: '<?php echo $block->getBlockTitle()?>',
                    display_add_to_cart: '<?php echo $block->isDisplayAddToCart()?>',
                    add_to_cart_back_url: '<?php echo $block->getAddToCartBackUrl()?>',
                    product_id: '<?php echo $block->getProductId()?>'
                },
                complete: function(response) {
                    blockSelector = '.<?php echo $block->getNameInLayout() ?>';

                    try {
                        eval("var json = " + response.responseText + " || {}");
                    } catch (e) {
                        return;
                    }

                    if (json.wbtab_block_content && shouldReplaceNativeBlock) {
                        jQuery('.block.related').html('');
                        jQuery('.block.crosssell').html('');
                    }

                    /*fix for cart summary block*/
                    jQuery('.cart-summary').mage('sticky', {
                        container: '#maincontent'
                    });
                    jQuery(blockSelector).filter(':first').html(json.wbtab_block_content);
                }
            });
        });
    </script>

<?php endif; ?>
