<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Account Information') ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Contact Information') ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?php echo $block->escapeHtml($block->getName()) ?><br>
                    <?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/edit') ?>">
                    <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
                </a>
                <a href="<?php /* @escapeNotVerified */ echo $block->getChangePasswordUrl() ?>" class="action change-password">
                    <?php /* @escapeNotVerified */ echo __('Change Password') ?>
                </a>
            </div>
        </div>
        <?php $subbedToPH = $block->getCustomer()->getCustomAttribute('email_opt_in_ph') ?>
        <?php $subbedToHD = $block->getCustomer()->getCustomAttribute('email_opt_in_hd') ?>
        <?php $hasOne = false; ?>
        <div class="box box-newsletter">
            <strong class="box-title">
                <span><?php /* @escapeNotVerified */ echo __('Newsletters') ?></span>
            </strong>
            <div class="box-content">
                <?php if ($subbedToPH && $subbedToPH->getValue() && $subbedToHD && $subbedToHD->getValue()): ?>
                    <p><?php /* @escapeNotVerified */ echo __('You subscribe to our <strong>Special Offers Newsletter</strong> and <strong>Patrick\'s free health newsletter</strong>.') ?></p>
				<?php elseif ($subbedToHD && $subbedToHD->getValue()): ?>
                    <p><?php /* @escapeNotVerified */ echo __('You are subscribed to our <strong>Special Offers newsletter</strong>.') ?></p>
                <?php elseif ($subbedToPH && $subbedToPH->getValue()): ?>
                    <p><?php /* @escapeNotVerified */ echo __('You are subscribed to <strong>Patrick\'s free health newsletter</strong>.') ?></p>
                <?php else: ?>
                    <p><?php /* @escapeNotVerified */ echo __('You don\'t subscribe to our newsletters.') ?></p>
                <?php endif; ?>
                <?php /* Extensions placeholder */ ?>
                <?php echo $block->getChildHtml('customer.account.dashboard.info.extra')?>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getUrl('newsletter/manage') ?>"><span><?php /* @escapeNotVerified */ echo __('Edit') ?></span></a>
            </div>
        </div>
    </div>
</div>
