/*
    OBJECT SOURCE : Cart page styles
*/

// General styling across all screen sizes
.checkout-cart-index #maincontent {
    padding: 0 10px;
}


// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cart-overview button,
    .cart-overview .basket-sub-total {
        width: 100%;
    }
}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}