/*
    OBJECT SOURCE : Checkout page styles
*/

// General styling across all screen sizes
.checkout-container {
    padding: 0 10px;
}

.opc-estimated-wrapper {
    padding-right: 0;
    padding-left: 0;
}

// remove minus margins
.checkout-payment-method .payment-option,
.checkout-payment-method .payment-methods {
    margin-right: 0;
    margin-left: 0;
}

.checkout-payment-method .payment-method._active .payment-method-content {
    padding-right: 0;
    padding-left: 0;
}

.minicart-wrapper {
    width: 95px;
} 

.step-subtitle {
	background-color: #f5f5f5;
    margin-top: 12px;
    padding: 8px 12px;
}

.step-subtitle.members-message{
	background: #c0a777 url("../images/100HealthSmall.png") no-repeat 10px center;
	min-height: 34px;
    padding-left: 69px;
    color: #fff;
}

// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-container {
        padding: 0 10px;
    }
}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}