/*
    OBJECT SOURCE : CMS Page  styles
*/

// General styling across all screen sizes
.cms-page-view  #maincontent {
    padding: 0 10px;
}


// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}