/*
    OBJECT SOURCE : Customer account area styles
*/

// General styling across all screen sizes
.customer-account-login #maincontent,
.account #maincontent,
.customer-account-index #maincontent,
.customer-account-create #maincontent {
    padding: 0 10px;
}


.additional-newsletter-subscription {
	label {
		display: inline-block;
		vertical-align: top;
		max-width: 90%;
		strong {
			color: #0D758C;
			text-transform: uppercase;
			display: block;
			font-family: "Bariol_Regular_Bold";
			font-weight: normal;
		}
	}	
}

.box-newsletter strong {
	font-family: "Bariol_Regular_Bold";
	font-weight: normal;
}


// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .account .page-title-wrapper,
    .customer-account-index .page-title-wrapper {
        margin-top: 40px;
    }
}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}