//  BP's
//  @screen__xxs: 320px;
//  @screen__xs: 480px;
//  @screen__s: 640px;
//  @screen__m: 768px;
//  @screen__l: 1024px;
//  @screen__xl: 1440px;
/*
    OBJECT SOURCE:
    We're splitting out the less file so we have more control of the styling
    as well as organising the CSS to more managable chunks
    This'll help with making it responsive (backwards) as well as sorting
    out global styling
*/

// sitewide styling
@import "_fonts.less"; // includes typography settings too

// sitewide site sections
@import "_header.less";
@import "_menu.less";
@import "_footer.less";

// pages
@import "_home.less";
@import "_listingPages.less";
@import "_productPage.less";
@import "_checkout.less";
@import "_customerAccount.less";
@import "_cmsPages.less";
@import "_cart.less";


body{
    font-family: 'Bariol_Regular';
    font-weight: normal;
    min-width: 300px; // stop the site from collapsing on very very small screens!
    font-size: 16px;
    color: #666666;
}

// to remove?
#mainBodyContain{
    float:left;
    width:100%;
}
.members{
    color:#C0A777;
}
// to remove?

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 1180px;
    padding-right: 0;
    padding-left: 0;
}

// primary buttons
.action.primary {
    border: 1px solid #215273;
    background: #215272;
    margin-bottom: 60px;
}


a.action.clear.filter-clear{
    display:block;
    padding-bottom: 30px;
}
.product-item .price-box {
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    color:#000000;
    font-family: 'Bariol_Regular_Bold';
    margin-bottom:10px;
}
.product-item-name{
    text-align:center;
    font-size: 18px;
    font-weight: normal;
}

.product-item-inner{
    text-align:center;
}
.memPrice {
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    display:block;
    width:100%;
    margin-bottom:25px;
    color:#ff0000;
}
.product.name a {
   font-size: 18px;
   color: #0D758C;
    font-family: 'Bariol_Regular';
    font-weight: normal;
}
.smallDescript{
 display:block;
 width:100%;
 text-align:center;
 font-size: 14px;
 border-bottom:#cccccc 1px solid;
 padding-bottom:10px;
}
.memHigh{
    color: #c0a777;
}
.smallAuthor{
 display:block;
 width:100%;
 text-align:center;
 font-size: 13px;
 color: #0D758C;
}

.actions-secondary {
    margin-bottom:60px;
}

.product-info-main .page-title-wrapper .page-title {
    display:none;
    visibility:hidden;  
}
.product-info-stock-sku{
float:right;
text-align:left;
width:80%;
color:#006600;
}
.price-box price-final_price{
width:20%;
color:#000000;
}
.product-item-name {
    text-align:left;
}
.minicart-items .product-item-name a {
     color: #0D758C;
}
.block.widget .product-item-name{
   font-size: 14px;
   font-weight: normal;
   text-align:center;
 color: #0D758C;
}
.block.widget .product-item-actions {
    padding-left: 44px;
    margin-bottom:0;
}
.block.widget .product-item-name a {
     color: #0D758C;
     font-weight: normal;
}
.page-layout-1column .block.widget .products-grid .product-item {
    margin-bottom: 0;
}
.block.widget h1 {
     margin-bottom:0;
}

.block.crosssell {
    margin-top: 0;
}
.block.crosssell h1 {
     margin-bottom:0;
}

.block.crosssell .product-item-actions {
    padding-left: 0;
    margin-bottom:0;
}
.block.crosssell .product-item-name a {
     color: #0D758C;
     font-weight: normal;
     font-size:14px;
     text-align:center;
     float:left;
     display:block;
     width:100%;
}

.checkout-cart-index .block.crosssell {
	margin-top: 30px;
}

.checkout-cart-index .cart-summary {
	z-index: 99999;
}

button.action.action-auth-toggle{
color:#ffffff;
}
.opc-progress-bar {
margin-top:20px;
}
.opc-progress-bar-item._active:before {
    background: #0D758C;
}
.opc-progress-bar-item._active > span:before {
    background: #0D758C;
}
.action.primary {
    margin-bottom: 0;
}
.products-grid .product-item {
    margin-bottom: 60px;
}

/* New checkout over view styling */
.cart-overview button,
.cart-overview #edit-basket,
.cart-overview .basket-sub-total {
    display: inline-block;
    margin: 10px 9px 0 0;
    vertical-align: top;
    min-height: 50px;
}
    // 768px +
    .media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
        .cart-overview button,
        .cart-overview #edit-basket,
        .cart-overview .basket-sub-total {
            min-width: 0;
        }
    }
    // custom BP for adverts
    @media screen and (min-width: 1024px) {
        /* New checkout over view styling */
        .cart-overview button,
        .cart-overview #edit-basket,
        .cart-overview .basket-sub-total { 
            margin: 10px 10px 0 0;
            min-width: 250px;
        }
    }

.cart-overview {
    margin: 30px auto 0;
}

.cart-overview #continue a {
    color: #333333;
}

.cart-overview .basket-sub-total {
    border: 1px solid #215273;
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
    min-height: 48px;
    height: 40px;
}

.cart-overview .basket-sub-total span {
    display: inline-block;
    padding-right: 15px;
    padding-top: 13px;
    font-weight: 700;
}
.cart-overview .basket-sub-total_price {
    vertical-align: text-bottom;
    padding-top: 2px;
}
.cart-overview .basket-sub-total_title {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #215273;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 5px 15px 15px;
    display: inline-block;
    vertical-align: top;
    background: #215273;
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 0;
    cursor: pointer;
    color: #ffffff;
}
/* Personalised Grouped Product Page Styling */

/* PGP PAGE */
.pgp-index-index .page-title {
    margin: 20px 0;
}

.pgp-content {
    width: 100%;
}
    .pgp-content::after {
        position: relative;
        display: block;
        content: ' ';
        width: 100%;
        clear: both;
    }

.pgp-left {
    float: left;
    width: 75%;
}
.pgp-right {
    margin-left: 2%;
    float: left;
    width: 20%;
}

.pgp-banner {
    border: 5px solid #E5EDF1;
    background-color: #E5EDF1;
    padding: 10px;
    height: 40px;
    width: 95%;
}
    .pgp-banner-item-left {
        text-align: left;
        margin-top: 8px;
        color: #005175;
        float: left;
        width: 35%;
    }
    .pgp-banner-item-center {
        text-align: center;
        line-height: 2.2;
        margin-top: -5px;
        color: #CAA975;
        float: left;
        width: 35%;
    }
        .pgp-banner-item-center img {
            vertical-align: top;
            float: left;
        }

    .pgp-banner-item-right {
        text-align: right;
        margin-top: 8px;
        color: green;
        float: left;
        width: 29%;
    }

.pgp-form-box {
    border: 5px solid #E5EDF1;
    border-radius: 10px;
    text-align: center;
    width: 260px;
    padding: 0px;
}

.pgp-right-header {
    border: 10px solid #005175;
    background-color: #005175;
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
    color: white;
}

.pgp-member-savings {
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: #C3222F;
}

.pgp-join-now {
    vertical-align: middle;
    font-size: 30px;
    color: #CAA975;
}

.pgp-form {
    padding: 10px;
}

    .pgp-form-item {
        border-bottom: 1px solid #E5EDF1;
        display: inline-block;
        margin-bottom: 5px;
        width: 100%;
    }

    .pgp-form-item-image {
        float: left;
        width: 20%;
    }
    .pgp-form-item-image .product-image-photo {
        bottom: auto;
        top: 5px;
    }
    .pgp-form-item-name {
        padding-left: 10px;
        text-align: left;
        color: #0D758C;
        float: left;
        width: 70%;
    }

    .pgp-form-item-price {
        padding-left: 10px;
        text-align: left;
        text-align: left;
        float: left;
        width: 70%;
    }

/* PGP Product list */
.pgp-index-index.page-layout-1column .block.widget .products-grid {
    margin-bottom: 50px;
}
.pgp-index-index.page-layout-1column .block.widget .products-grid .product-item {
    margin-left: 6%;
    width: 20%;
    padding: 0;
}
    .pgp-index-index.page-layout-1column .block.widget .products-grid .product-item:first-child {
        margin-left: 0;
    }

    .pgp-index-index.page-layout-1column .block.widget .products-grid .product-item .product-item-info {
        width: 240px;
    }

.pgp-index-index.page-layout-1column .block.widget .product-item-actions {
    text-align: center;
    padding-left: 0;
}
.pgp-index-index .product-item-actions .actions-primary {
    display: block;
    margin: 0 auto;
}

.non-members-additional {
    background-color: #CAA975;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    width: 320px;
}
    .non-members-additional .center {
        text-align: center;
    }

    .non-members-additional p,
    .non-members-additional h3 {
        color: #fff;
    }

    .non-members-additional h3 {
        text-transform: uppercase;
        margin: 0 auto 15px;
        text-align: center;
        font-weight: bold;
        width: 170px;
    }

    /* small bold uppercase text  */
    .upperCaseBold {
        text-transform: uppercase;
        font-weight: bold;
    }

    /* membership roundel image */
    .healthClubImage {
        vertical-align: middle;
        display: inline-block;
        margin: 0 5px;
    }
        .healthClubImage img {
            height: 46px;
            width: 46px;
        }

/* Close Button */
#close-non-members-additional {
    text-transform: uppercase;
    font-size: 10px;
}

/* join now button */
.non-members-additional .non-members-additional__button {
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 1px;
    background: #fff;
    display: block;
    color: #CAA975;
    border: none;
}
