@font-face {
    font-family: 'Bariol_Regular';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol_regular-webfont.woff2') format('woff2'), url('../fonts/bariol_regular-webfont.woff') format('woff'), url('../fonts/bariol_regular-webfont.ttf') format('truetype'), url('../fonts/bariol_regular-webfont') format('svg');
    font-style: normal
}
@font-face {
    font-family: 'Bariol_Regular_Bold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol_bold-webfont.woff2') format('woff2'), url('../fonts/bariol_bold-webfont.woff') format('woff'), url('../fonts/bariol_bold-webfont.ttf') format('truetype'), url('../fonts/bariol_bold-webfont') format('svg');
    font-style: normal
}

h1, h2, h3, h4, h5, h6 {
    color: #0D758C;
    font-family: 'Bariol_Regular';
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
h1 {
    font-size: 25px;
}
h2 {
    font-family: 'Bariol_Regular_Bold';
    font-size: 25px;
}

h4 {
    font-size: 13px;
    margin-bottom: 10px;
}

p {
    font-family: 'Bariol_Regular';
    line-height: 140%;
    letter-spacing: 1px;
    font-size:16px;
    color:#666666;
    margin-bottom:15px;
}
a, a:visited {
    color: #0D758C;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0D758C;
}
strong {
    font-family: 'Bariol_Regular_Bold';
}