/*
    OBJECT SOURCE : Global Footer styles
*/

// General styling across all screen sizes
.page-footer{
    background-color:#215273;
    padding-bottom: 20px;
    padding-top: 1px;

    &::after {
        position: relative;
        display: block;
        content: '';
        clear: both;
    }
}

.footer.content {
    padding-bottom: 130px;
    margin-top: 25px;
    border-top:none;
    display: block;
    padding-top: 0;
    width: 100%;
    
    &::after {
        position: relative;
        display: block;
        content: '';
        clear: both;
    }
}

.block.newsletter {
    visibility:hidden;
    display:none;
}

// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    #footerLogo {
        margin-right: auto;
        margin-left: auto;
        width: 176px;
        float: none;
    }

    #footerPromo {
        margin-right: 0;
        width: 100%;
    }
        #footerPromo h1, #footerPromo h2 {
            text-align: center;
            margin-top: 10px;
            letter-spacing:1px;
        }

            #footerPromo h1 {
                margin-bottom: 0;
                font-size: 18px;
                color: #ffffff;
            }
            #footerPromo h2 {
                margin-bottom: 13px;
                color: #ffffff;
                margin-top: 0;
            }

    #footerNav {
        border-bottom:solid 1px #3A6480;
        border-top:solid 1px #3A6480;
        padding: 10px 0 20px 10px;
        margin-top: 25px;
    }
        #footerNav ul{
            margin: 0 0 40px 0;
        }
        #footerNav li{
            margin-bottom: 2px;
        }
        #footerNav ul:last-child {
            margin-right: 0;
        }
        #footerNav li a, #footerNav li a:hover{
            font-size:14px;
            color:#ffffff;
        }

    #footerSocial{
        text-align: center;
        margin-top: 28px;
        width: 100%;
    }
        #footerSocialEle,
        #footerSocialEleL {
            display: inline-block;
            margin-right: 45px;
        }

        // last social icon / L = last
        #footerSocialEleL {
            margin-right:0;
        }

    #footerCopyright{
        padding: 20px 10px 0;
        text-align: center;
        font-size: 13px;
        color: #ffffff;
    }

    #footerCoreLinks{
        padding: 20px 10px 0;    
        text-align: center;
    }
        #footerCoreLinks li{
            display: inline-block;
            list-style-type: none;
            margin-right: 20px;
        }
        #footerCoreLinks li:last-child {
            margin-right:0;
        }
        #footerCoreLinks li a, #footerCoreLinks li a:hover{
            font-size:13px;
            color:#ffffff;
        }
}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    #footerLogo {
        margin-right: 25px;
        margin-left: 15px;
        float: left;
    }

    #footerPromo{
        // margin-right: 159px; TODO: this needs to be added when on large sreens (1024px)
        width: 540px;
        float: left;        
    }
        #footerPromo h1{
            letter-spacing: 1px;
            margin-bottom: 0;
            font-size: 18px;
            color: #ffffff;
        }
        #footerPromo h2{
                letter-spacing: 1px;
                margin-bottom: 13px;
                color: #ffffff;
                margin-top: 0;
        }

    #footerSocial{
        margin-top: 28px;
        height: 55px;
        float: left;
    }
        #footerSocialEle,
        #footerSocialEleL{
            margin-right: 45px;
            float: left;
        }

        #footerSocialEleL{
            margin-right: 0;
        }

    #footerNav {
        border-bottom: solid 1px #3A6480;
        border-top: solid 1px #3A6480;
        margin: 10px auto 10px;
        padding: 20px 10px;
        display: block;
        clear: both;
        
        &::after {
            position: relative;
            display: block;
            content: '';
            clear: both;
        }
    }
        #footerNav ul {
            display: inline-block;
            vertical-align: top;
            margin: 0 3.25%;
            width: 10%;
        }
            #footerNav li {
                margin-bottom: 2px;
            }
        
        #footerNav ul:last-child {
            margin-right: 0;
        }

        #footerNav li a, #footerNav li a:hover{
            font-size: 14px;
            color: #ffffff;
        }
    #footerCopyright{
        padding-left: 5px;
        padding-top: 20px;
        font-size: 13px;
        color: #ffffff;
        float: left;
        width: 45%;
    }
    #footerCoreLinks{
        padding-right: 10px;
        padding-top: 17px;
        float: right;
        width: 50%;
    }
    #footerCoreLinks ul{
        float:right;
    }
    #footerCoreLinks li{
        display: inline-block;
        list-style-type: none;
        margin-right: 20px;
    }
    #footerCoreLinks li:last-child {
        margin-right: 0;
    }
    #footerCoreLinks li a, #footerCoreLinks li a:hover{
        font-size: 13px;
        color: #ffffff;
    }
} // min 768px
