/*
    OBJECT SOURCE : Global Header styles
*/

// General styling across all screen sizes
.page-header {
    background-color:#215273;
    padding-bottom:9px;
}

.checkout-index-index .authentication-wrapper{
   display:none !important;
}

#straplineContain{
    float:left;
    width:100%;
    background-color:#CAB177;
}
#straplineWrap{
    position:relative;
    width:1180px;
    background-color:#CAB177;
    font-family: 'bariol_boldbold';
    font-size:30px;
    color:#FFFFFF;
        left: 50%;
    margin-left: -590px;
}
#straplineWrap ul {
    padding:0;
    margin:0;
}
#straplineWrap li {
    display: inline-block;
    list-style-type: none;
    margin-right:0;
    padding:0;
    margin:0;
 margin-right:117px;
    vertical-align:middle;
    padding-bottom:5px;
    padding-top:5px;
    letter-spacing:1px;
}
#straplineWrap li:first-child {
    margin-left:22px;
}
#straplineWrap li:last-child {
    margin-right:0;
}

.site-cms-notice {
	font-size:12px; 
	font-weight: normal;
	text-align:center; 
}

.site-cms-notice-container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 5px 12px;	
}

.block-search {
    position: relative;
    float: left;
    padding-left: 15px;
    width: 250px;
    z-index: 4;
}

.block-search .control {
	padding-bottom: 0;
}

.block-search input {
    border: 1px solid #FFFFFF;
    padding: 6px 4px;
    outline: none;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    width:518px;
    height:35px;
    padding:0;
    margin:0;
    font-family: 'Bariol_Regular';
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
}
.panel.wrapper {
    visibility:hidden;
    display:none;
}
.block-search {
    width:518px;
}

#headerWrapOtherSites{
    float:left;
    width:150px;
    margin-right:20px;
    margin-left:10px;
}
#headerWrapLinks{
    float:right;
    width:210px;
}
#headerWrapLinksEle2{
    float:left;
    margin-top:3px;
    text-align:center;
    margin-left:20px;
}
#headerWrapLinksEle1{
    float:left;
    margin-left:20px;
    margin-top:3px;
    text-align:center;
}

#headerWrapLinksEle1 p, #headerWrapLinksEle2 p{
    color:#FFFFFF;
    font-size:13px;
    margin:0;
    padding:0;
    font-weight:normal;
    text-align:center;
}
.counter.qty {
    background: #FFFFFF;
    color: #0D758C;
}

.minicart-wrapper,#headerWrapLinks{margin-top:-6px}

.minicart-wrapper .action.showcart:hover:before {
    color: #FFFFFF;
}
.minicart-wrapper .action.showcart:before {
    color: #FFFFFF;
}
.minicart-wrapper .action.showcart .counter.qty {
    background: #FFFFFF;
    color: #0D758C; 
}

.breadcrumbs .items {
    font-size: 14px;
}

.message.global p {
    color:#ffffff;
}

.breadcrumbs strong {
    font-weight: normal;
    color: #0D758C;
    font-family: 'Bariol_Regular';
}

.catalog-category-view .page-wrapper .breadcrumbs,
.page-wrapper .breadcrumbs {
    padding-right: 10px;
    padding-left: 10px;
}

// Show sub categories in coloured tabs below primary Navigation
.parent-category-wrapper{
	width:100%;
	max-width:1180px;
	margin:0 auto 20px;
	padding:0 10px;
}
.parent-category {
	width:100%;
	margin:0;
	padding:0;
	li {
	    display: block;
	    float: left;
	    list-style: inside none none;
	    text-align: center;
	    margin: 0;
	    word-wrap: break-word;
		a {
			display: block;
			padding: 6px;
			color: #fff;
			background-color: #215273;
			-webkit-transition: opacity 0.2s ease;
			-moz-transition:    opacity 0.2s ease;
			&.foods {
				background-color: #279a73;
			}
			&.drinks {
				background-color: #ce1835;
			}
			&.gltypleasures {
				background-color: #bf9450;
			}
			&.essentials {
				background-color: #0c81ac;
			}			
			&.metabolism {
				background-color: #f62f49;
			}
			&.mind {
				background-color: #904d90;
			}		
			&.body {
				background-color: #5a9946;
			}
			&.children {
				background-color: #fda021;
			}
			&.women {
				background-color: #f77891;
			}
			&.other {
				background-color: #bdbdbd;
			}
			&.cookbooks {
				background-color: #fda021;
			}
			&.skin {
				background-color: #fd8e8d;
			}
			&.waterfilters {
				background-color: #0f849f;
			}
			&.tests {
				background-color: #9bccc2;
			}			
		}
		a:hover {
			text-decoration: none;
			opacity: 0.85;
		}
		a.selected {
			text-decoration:underline;
		}
	}
	&.count-1 li {
		width:100%
	}
	&.count-2 li {
		width:50%
	}
	&.count-3 li {
		width:33%
	}
	&.count-4 li {
		width:25%
	}
	&.count-5 li {
		width:20%
	}
	&.count-6 li {
		width:16.666667%
	}
	&.count-7 li {
		width:14.2857%
	}
	&.count-8 li {
		width:12.5%
	}
	&.count-9 li {
		width:11.11111%
	}
	&.count-10 li {
		width:10%
	}
}

.header-promo-fullwidth {
	background-color:#c0a777;
	margin-bottom:25px;
	text-align: center;
	line-height: 0;
	a {
		display:block;
		max-width:1180px;
		margin:4px auto;
		padding:0 2%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	img {
		display: inline-block;
	}
}

.cms-home .nav-sections{margin-bottom:0}

// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .logo {
        margin: 10px 0 0 55px;
        position: relative;
        display: block;
        width: 100px;
        height: 40px;
        float: left;
        z-index: 5;
    }

    // when on home page we remove the botto margin
    .cms-home .page-header {
        margin-bottom: 0;
    }

    .header #headerWrapLinks {
        margin-right: 0;
        float: right;
        width: 100px;

        &::after {
            position: relative;
            display: block;
            content: '';
            clear: both;
        }
    }
        .header #headerWrapLinksEle1 p,
        .header #headerWrapLinksEle2 p {
            font-size: 10px;
        }

        .header #headerWrapLinksEle1,
        .header #headerWrapLinksEle2,
        .header #headerWrapLinksEle3 {
            display: inline-block;
            margin: 20px 0 0;
            float: none;
            width: 40px;
        }
            .header #headerWrapLinksEle1 {
                text-align: center;
                margin-left: 5px;
                margin-top: 3px;
                float: left;
            }
            .header #headerWrapLinksEle2 {
                text-align: center;
                margin-left: 5px;
                margin-top: 3px;
                float: left;
                width: auto;
            }

    .header .minicart-wrapper {
        margin-top: 1px;
        height: 50px;
        float: right;
        width: 40px;
    }
        .minicart-wrapper p {
            margin-bottom: 0;
            font-size: 10px;
        }
        .minicart-wrapper .action.showcart .counter.qty {
            display: none;
        }

    .header #headerWrapOtherSites {
        margin: 14px auto 14px;
        text-align: right;
        width: 140px;
        float: right;
        clear: both;
    }

    .header .block-search {
        box-sizing: border-box;
        padding: 0 5px;
        margin: 0 0;
        width: auto;
        float: none;
        clear: both;
    }
        .header .block-search .control {
            margin: 10px auto;
            padding: 0 0;
        }
        .header #search_mini_form label {
            display: none;
        }
        .header #search_mini_form input#search {
            position: relative;
            margin-bottom: 5px;
            font-size: 16px;
            width: 100%;
            left: auto;
        }

    .catalog-category-view .page-wrapper .breadcrumbs,
    .page-wrapper .breadcrumbs {
        padding-right: 10px;
        padding-left: 10px;
    }

    // mini cart pop up
    .minicart-wrapper .block-minicart:before,
    .minicart-wrapper .block-minicart:after {
        right: 50%;
    }
    .minicart-wrapper .block-minicart {
        right: -180%;
    }
    
    .header-promo-fullwidth {
	    display:none;
	}
	.parent-category-wrapper {
		display: none;
	}

}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header.content {
        padding-top: 20px;
    }

    .header .logo {
        margin: -8px auto 2px 10px;
    }

    .header #headerWrapLinks {
        width: 165px;
    }

    .header #headerWrapOtherSites {
        float: right;
    }

    .header .block-search {
        margin-right: 5px;
        float: right;
        width: 390px;
        clear: both;
    }

    .header .minicart-wrapper {
        width: 75px;

        p {
            margin-bottom: 0;
        } 
    }
}

// 1024px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .header #headerWrapOtherSites {
        float: left;
    }

    .header .block-search {
        float: left;
        clear: none;
    }

}
