/*
    OBJECT SOURCE : Home page styles
*/

// General styling across all screen sizes

.homepage-prices-info { 
	float: left;
	width: 80%;
	margin-top: 0.5em;
}
.homepage-sagepay-logo {
	float: right;
	width: 18%;
	img {
		max-width: 190px;
		width: 100%;
	}
}

.home-sellers-reviews {
	clear: both;
	.block-products-list {
		float: left;
		width: 83%;
	}
}


.home-reviews-promo {
	float: right;
	width: 16%;
	padding-top: 2.5em;
	.home-payment {
		margin: 1em 0 0;
	}
	.home-reviews {
		background-color: #3380a9;
		color: #fff;
		padding: 12px 20px 6px;
		text-align: center;
		h4 {
			color: #fff;
			font-size: 19px;
			letter-spacing: 0.1em;
			margin: 6px 0 6px;
			text-transform: uppercase;
		}
		img {
			margin: 0 0 8px;
			max-height: 15px;
		}
		p {
			color: #fff;
		}
	}
}

#homeAdvert1, #homeAdvert2{
    float:left;
    width:580px;
    height:284px;
    margin-top:15px;
}
#homeAdvert1{
    background-color:#FF9F33;
    border:solid 1px #FF9F33;
    margin-right:16px;
    background-image:url(https://www.holfordirect.com/slideshow/images/home/Patrick%20Holford.png);
    background-repeat:no-repeat;
    background-position:140px 138px;
    
}
#homeAdvert1 h2, #homeAdvert2 h2{
    font-size:25px;
    color:#215273;
    margin-bottom:12px;
    letter-spacing:2px;
    margin-top:0;
}

#homeAdvert1 p, #homeAdvert2 p{
    font-size:19px;
    color:#215273;
    margin-bottom:10px;
}
#homeAdvert1 a, #homeAdvert2 a{
    text-decoration: none;
    color: #215273;
    font-style:normal;
}
#homeAdvert1 a:hover, #homeAdvert2 a:hover{
    text-decoration: none;
}
#homeAdvert1 .smallP{
    font-size:16px; 
    margin-bottom:20px;
}
.smallPbold{
    font-size:38px; 
}
#homeAdvert2{
    background-color:#804E8C;
    border:solid 1px #804E8C;
}
#homeAdvert2 h2{
    color:#FFFFFF;
}

#homeAdvert2 p{
    color:#FFFFFF;
}
#homeAdvert2 a{
    text-decoration: none;
        color:#FFFFFF;
    font-style:normal;
}
.headSpace{
    margin-top:38px;    
}


#adContet{
    float:left;
    width:250px;    
    padding:20px;
}
#adImg{
    float:left;
    width:290px;
}

#galleryWrap{
    display: inline-block;
    position:relative;
    width: 100%;
    padding:0;
    margin:0;
    left: 0;
}
#galleryMenuWrap{
    position:absolute;
    bottom:0;
    width:100%;
}
#galleryMenuCat1,
#galleryMenuCat2,
#galleryMenuCat3 {
    // float: left;
    // width: 100%;
    
    // justify-content: space-around;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: no-wrap;
    display: flex;
}
    #galleryMenuCat1Ele,
    #galleryMenuCat3Ele {
        background-color:#090;
        // display: inline-block;
        font-weight: normal;
        text-align: center;
        padding: 10px 5px;
        font-size: 18px;
        color: #FFF;
    }
    #galleryMenuCat3Ele{
        // width:393.3px;
    }

    #galleryMenuCat1 a,
    #galleryMenuCat2 a,
    #galleryMenuCat3 a {
        flex-grow: 1;
        width: auto;
    }


.mobile__menu_list {
    justify-content: space-around;
    background: #f5f5f5;
    flex-direction: row;
    flex-wrap: no-wrap;
    list-style: none;
    margin: 0 -10px;
    display: none;
    padding: 0 5px;
    
    .mobile__menu_list_item {
        justify-content: center;
        display: inline-block;
        align-items: center;
        text-align: center;
        line-height: 1.1;
        margin-bottom: 0;
        display: flex;
        padding: 5px;
        width: 25%;
    }

    .mobile__menu_list_link {
        text-transform: uppercase;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
        font-weight: bold;
        font-size: 13px;
        color: #575757;
        padding: 5px 0;
    }
}


// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    // menu on home page only for mobile only!
    .cms-home .mobile__menu_list {
        display: flex;
    }

    .cms-home #maincontent {
        padding: 0 10px;
    }

    .cms-home #homeAdvert1,
    .cms-home #homeAdvert2 {
        margin: 0 auto 20px;
        min-height: 600px; 
        display: block;
        width: 290px;
        float: none;
        padding: 0;
    }
    #galleryMenuWrap{
        display: none;
    }
}


// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .cms-home #maincontent {
        padding: 0 10px;
    }

    .cms-home #homeAdvert1,
    .cms-home #homeAdvert2 {
        margin: 40px auto;
        max-width: 730px;
        height: auto;
        clear: both;
        width: 100%;
        float: none;
        
        &::after {
            position: relative;
            display: block;
            content: ' ';
            clear: both;
            width: 100%;
        }

        #adContet {
            padding: 20px 0 0 20px;
            float: left;
            width: 50%;
        }

        #adImg {
            line-height: 0;
            float: right;
            width: 35%;
        }
    }
}

// custom BP for adverts
@media screen and (min-width: 1024px) {

    .cms-home #homeAdvert1 {
        background-position: right  bottom;
    }

    .cms-home #homeAdvert1,
    .cms-home #homeAdvert2 {
        overflow-wrap: break-word;
        box-sizing: border-box;
        min-height: 245px;
        overflow: hidden;
        margin: 40px 0;
        clear: none;
        float: left;
        width: 49%;
        padding: 0;

        #adContet {
            box-sizing: border-box;
            float: left;
            width: 100%;
        }

        #adImg {
            display: none;
        }
    }
    .cms-home #homeAdvert2 {
        float: right;
    }
}

// custom BP for adverts
@media screen and (min-width: 1100px) {
    .cms-home #homeAdvert1 {
        background-position:140px 138px;
    }

    .cms-home #homeAdvert1,
    .cms-home #homeAdvert2 {
        padding: 1px 1px 0;
        margin: 40px 0;
        clear: none;
        width: 49%;

        #adContet {
            width: 50%;
        }
            h2,
            h2 {
                margin-bottom: 0;
            }

        #adImg {
            display: block;
            width: 50%;
        }
    }
    .cms-home #homeAdvert2 {
        float: right;
    }
}