/*
    OBJECT SOURCE : Listing Page styles
*/



.products-grid .product-item-details {
	.old-price .price-label,
	.special-price .price-label{
		display: none;
	}
	.old-price {
		color: #999;
	}
}



// General styling across all screen sizes
// Add to cart button alignment fix
.product.actions.product-item-actions {
    margin: 10px auto;
    padding-left: 0;
    display: block;
    width: 110px;
}


// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-category-view #maincontent,
    .catalogsearch-result-index #maincontent {
        padding: 0 10px;
    }
    .cat-sidebar-promos a {
		display:inline-block;
		vertical-align: top;
	}
}


// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-category-view #maincontent,
    .catalogsearch-result-index #maincontent {
        padding: 0 10px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .category-cms img {
        display: none;
    }
}