/*
    OBJECT SOURCE : Global Navigation styles
*/

// General styling across all screen sizes

/* #Menu
================================================== */        
#menu {
    width:100%;
    font-size:17px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing:1px;
    margin-top:20px;
}
#menu ul {
}
#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right:17px;
}
#menu li:last-child {
    margin-right:0;
}
#menu a {
    text-decoration: none;
    font-size:17px;
    color: #FFFFFF;
    font-style:normal;
}
#menu a:hover {
    text-decoration: none;
}
.current-menu-item a {
    color: #0D758C;
}

.header .nav-toggle {
    left: 10px;
    top: 7px;
}
    .header .nav-toggle > span {
        text-transform: uppercase;
        position: relative;
        text-align: center;
        overflow: hidden;
        margin-top: -7px;
        display: block;
        font-size: 9px;
        height: auto;
        color: #fff;
        width: auto;
        padding: 0;
        border: 0;
    }

    .nav-toggle:before {
        color: #fff;
    }

    .nav-toggle:hover:before {
        color: rgba(255,255,2525,0.5);
    }

.navigation {
    width: 100%;
}

.navigation ul {
    padding: 0;
}

.navigation .level0.active > .level-top,
.navigation .level0.has-active > .level-top,
.navigation .level0 > .level-top:hover,
.navigation .level0 > .level-top.ui-state-focus {
    border-color: transparent;
    color:#70beb6;
}

// .navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus

.navigation .level0 .submenu .active > a {
   border-color: #0D758C;
}

.nav-sections {
    z-index: 5;
    background-color: #215273;
    border-top:1px solid #3a6480;
}

.cms-home .nav-sections,
.catalog-category-view .nav-sections {
	margin-bottom: 0;
}

.navigation .level0 > .level-top{
	color: #fff;
	font-weight:normal;
	letter-spacing:0.03em;
	line-height:40px;
}

// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .nav-open .page-wrapper {
        left: 280px;
    }
    .nav-sections {
        width: 280px;
        left: -280px;
    }

    // mobile tabs on top of slide out nav panel
    .nav-sections-item-title {
        cursor: pointer;
        width: 50%;
    }

    // greeting message
    .nav-sections .header.links li.greet.welcome {
        border-top: 0;
        padding: 0;
    }
    .nav-sections .header.links li.greet.welcome > span {
        border-top: 1px solid #d1d1d1;
    }

    // .navigation ul {
    .navigation ul#ui-id-2.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
        width: 100% !important; // stupid override for inject styles on menu :X
        float: none;
    }
    
    // targets sub list in side each category to indent them slightly
    .navigation .level0 > .level1 {
        margin-left: 20px;
    }
        

    // Targets siblgin DIV to make it 100%
    .navigation ul#ui-id-2.ui-menu.ui-widget.ui-widget-content.ui-corner-all ~ div {
        margin: 15px !important;
        clear: both !important;
        width: 80% !important;
    }

}

// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .navigation ul {
        float: left;
        width: 57%;
    }

    .navigation ul#ui-id-2.ui-menu.ui-widget.ui-widget-content.ui-corner-all ~ div {
        border: 1px solid #0D758C !important;
        font-size: 13px !important;
        margin-top: 2px !important;
        padding: 7px !important;
        float: right !important;
        width: 40% !important;
    }

}