/*
    OBJECT SOURCE : Product page styles
*/

// General styling across all screen sizes

.catalog-product-view #maincontent {
    padding: 0 10px;
}
.product-info-main .payment-logo { 
	clear: both;
	margin:1em 0 0;
	opacity:0.9;
	max-width:210px;
	img {
		width:100%;
	}
}
.product-top-container {
	max-width: 960px;	
	margin: 0 auto;
}

.product-info-price {
	border-top: 1px solid #dce6ea;
	border-bottom: 1px solid #dce6ea;
	margin: 0.5em 0;
	padding: 0.45em 0 0.35em;
}

.product-info-main .price-box {
	margin-top: 0;
}

.membership-cta {
	clear: both;
	border-top: 1px solid #dce6ea;
	border-bottom: 1px solid #dce6ea;
	margin: 1em 0;
	padding: 11px;
	img {
		display: block;
	}
	p {
		color: #cf4a26;
		font-weight: 700;
		margin: 3px 0 0;
		font-size:15px;
	}
}

.product-left {
	float: left;
	width: 50%;
	border: 4px solid #d2e0e6;
    border-radius: 5px;
    padding: 12px 16px;
    .box-tocart {
	    margin-top: 0;
    }
    .alert a.action {
		display: block;
		padding: 3px;
		background-color: green;
		text-align: center;
		color: white;
    }
}

.product-info-main .product.alert a.action {
	display: block;
	padding: 3px;
	background-color: green;
	text-align: center;
	color: white;
}

.product-right {
	float: right;
	width: 39%;
}

.top-reviews {
	border: 1px solid #055374;
	border-radius: 3px;
	h4 {
		background-color: #3380a9;
		color: #fff;
		font-size: 15px;
		letter-spacing: 0.075em;
		margin: 0;
		padding: 5px 6px;
		text-align: center;
	}
	h5 {
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 0.065em;
		margin: 0 0 10px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			border-top: 1px solid #3380a9;
			margin-bottom: 10px;
			padding:10px 0;
			p {
				margin: 0;
				display: block;
				clear: both;
			}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		}
	}
}

.top-reviews__content {
	padding: 10px;
}

.top-review-rating {
	.rating-summary .rating-result > span::before {
		color: #ffbd00;
	}
}

.top-review-author {
	font-size: 12px;
	color: #045785;
	font-family: "Bariol_Regular_Bold";
	font-weight: normal;
	letter-spacing: 0;
	margin: 4px 0 8px;
}

.top-review-content {
	font-size: 13px;
}

.view-more-reviews {
	background-color: #eee;
	text-align: center;
	padding: 3px 8px;
	font-size: 12px;
	display: block;
	border-radius: 0 0 3px 3px;
}

.product-info-main:after {display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden}

.product.info.detailed {
	padding: 30px 0;
}

.product-info-main .product-info-price {
	.special-price {
		margin: 0;
		.price-label {
			display: none;
		}
	}
	.old-price {
		margin: 0;
		display: block;
		.price-label {
			display: none;
		}
		color: #999;
	}
}


// small screen to tablet 
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    // fixes the product image on mobile
    .page-layout-1column .product.media {
        margin-left: 0;
        width: 100%;
        clear: both;
    }
}


// 768px +
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // fixes the product image on mobile
    .page-layout-1column .product.media {
        margin-left: 0;
        width: 40%;
    }
    .page-layout-1column .product-info-main {
	    width: 54.5%;
    }
}

