<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
/** @var Objectsource\EmailCart\Helper\Customer $_customerHelper */
$_customerHelper = $this->helper('Objectsource\EmailCart\Helper\Customer');
?>
<?php $_stock = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface')->getStockItem($_product->getId()); ?>
<?php if ($_stock->getQty() <= 0): ?>
	<div class="cart item message notice"><div>This product is currently not in stock. You can add it to cart and we will ship it as soon as possible.</div></div>
<?php endif; ?>

<?php if ($_customerHelper->isPractitioner()): ?>
	Are you ready to send your cart to a client? Click <a href="<?php echo $block->getUrl('emailcart/create') ?>">here</a>.
	<?php return; ?>
<?php endif; ?>

<?php if ($customerSession->isLoggedIn()):?>
	<p><?php echo $_product->getData('member_text_logged_in');?></p>
<?php else:?>
	<p><?php echo $_product->getData('member_text_logged_out');?></p>
<?php endif;?>
<a href="https://www.patrickholford.com/health-club" target="_blank" title="Join the 100% Health Club Now">
	<img src="<?php echo $block->getViewFileUrl('images/join-now.png'); ?>" alt="Join Now"/>
</a>