<?php
/*$i = 1; foreach ($currentproduct->getOptions() as $value) {
echo "Custom Option:" . $i . "";
echo "Custom Option TYPE: " . $value->getType() . "";
echo "Custom Option TITLE: " . $value->getTitle() . "";
echo "Custom Option Values: "; // Getting Values if it has option values, case of select,dropdown,radio,multiselect
$values = $value->getValues();
foreach ($values as $values) {
print_r($values->getData());
} $i++;
}*/
//echo "HELLO";
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
/** @var Objectsource\EmailCart\Helper\Customer $_customerHelper */
$_customerHelper = $this->helper('Objectsource\EmailCart\Helper\Customer');

if ((!$_product->getHideMemberPrice() || $customerSession->isLoggedIn()) && !$_customerHelper->isPractitioner()) {

    $_code = $block->getAtCode();
    $_className = $block->getCssClass();
    $_attributeLabel = $block->getAtLabel();
    $_attributeType = $block->getAtType();
    $_attributeAddAttribute = $block->getAddAttribute();
    if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
    }
    $_attributeValue =$_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
    ?>
    <?php if ($_attributeValue): ?>

<div>
  <?php if ($_attributeLabel != 'none'): ?>
  <strong class="type"><?php echo $_attributeLabel?></strong>
  <?php endif; ?>
  <div style="float:left; width:100%;">
  <div class="value" style="margin-top:10px;" <?php echo $_attributeAddAttribute;?>  >
    <div style="float:left; width:12%;"> <img src="https://www.holfordirect.com/media/wysiwyg/100_HEALTH_CLUB_LOGO_100.jpg" width="46" height="46" /> </div>
    <div style="float:left;  width:88%;">
      <?php 
$membersPrice = $_attributeValue;
//
$categoryIds =  $_product->getCategoryIds();
$membersPrice = $membersPrice - (0.2 * $membersPrice);
				$membersOverride = $_product->getMembersPriceOverride();
				if($membersOverride >= 0.01){
					$membersPriceDisplay = $membersOverride;
				}else{
					$membersPriceDisplay = $membersPrice;
				}

//
$DailyUsageAmount = $_product->getDailyUsageAmount();
$quantity = $_product->getQuantity();
$displayHolder1 = "";
if($DailyUsageAmount != ""){
	if($quantity != ""){
	  $usuage = $quantity / $DailyUsageAmount;
	  $memDailyPrice =  $membersPriceDisplay / $usuage;
	  $memDailyPrice = number_format((float)$memDailyPrice, 2, '.', '');
	   if($memDailyPrice >= 1){
			$displayHolder1 = '<p>&pound;'.$memDailyPrice.' per day</p>';
	   }else{
		   $memDailyPrice = str_replace("0.","",$memDailyPrice);
		   $displayHolder1 = '<p>'.$memDailyPrice.'p per day</p>';
	   }
	}
}
$membersPriceDisplay = number_format((float)$membersPriceDisplay, 2, '.', '');
if($displayHolder1 != ""){
	echo '<p style="color:#C1A877; font-size: 1.8rem; font-weight: 700; margin-bottom:0;">MEMBERS PRICE <span style="color:#ff0000;">&pound;'.$membersPriceDisplay.'</span></p>';
	echo $displayHolder1;
}else{
echo '<p style="color:#C1A877; font-size: 1.8rem; font-weight: 700; margin-bottom:0; margin-top:10px;">MEMBERS PRICE <span style="color:#ff0000;">&pound;'.$membersPriceDisplay.'</span></p>';	
}
  ?>
    </div>
  </div>
</div>
</div>
<?php endif; ?>

<?php } ?>
