<?php
/*$i = 1; foreach ($currentproduct->getOptions() as $value) {
echo "Custom Option:" . $i . "";
echo "Custom Option TYPE: " . $value->getType() . "";
echo "Custom Option TITLE: " . $value->getTitle() . "";
echo "Custom Option Values: "; // Getting Values if it has option values, case of select,dropdown,radio,multiselect
$values = $value->getValues();
foreach ($values as $values) {
print_r($values->getData());
} $i++;
}*/
//echo "HELLO";
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
if ($_attributeLabel && $_attributeLabel == 'default') {
$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
$_attributeValue =$_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
?>
<?php if ($_attributeValue): ?>
<div>
<?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php echo $_attributeLabel?></strong><?php endif; ?>
<div class="value" style="margin-bottom:10px;" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></div>
</div>
<?php endif; ?>