<!--
/**
 * Copyright © 2015 ebizmarts. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img class="payment-icon sagepaysuite-payment-icon" src="https://www.sagepay.co.uk/files/logo_0.png"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: (customerHasTokens())-->
        <div id="sagepaysuiteserver-tokens" class="sagepaysuite-tokens">
            <div class="token-list">
                <div class="message warning message-max-tokens" style="display: none;">You are currently using all your credit card token slots.</div>
                <!-- ko foreach: {data: getCustomerTokens()} -->
                <div data-bind="attr: { 'id': $parent.getCode() + '-tokenrow-' + id }" class="token-row">
                    <input type="radio"
                           data-bind="attr: { 'id': $parent.getCode() + '-token-' + id, 'name': $parent.getCode() + '-token' }">
                    <label data-bind="attr: { 'for': $parent.getCode() + '-token-' + id }">
                        <p data-bind="html: '**********' + cc_last_4"></p>
                        <img data-bind="attr: {
                        'src': $parent.getIcons(cc_type) }">
                        <a class="delete-token-link" href="#"
                           data-bind="click: function () { $parent.deleteToken(id); return false; }">delete</a>
                    </label>
                </div>
                <!--/ko-->
            </div>
            <a class="add-new-card-link" href="#" data-bind="click: addNewCard">Add new card</a>
            <p class="using-new-card-message">You will be using a new credit card.</p>
            <a class="use-saved-card-link" href="#" data-bind="click: useSavedTokens">Use a saved card</a>
        </div>
        <!--/ko-->

        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <span data-bind="attr: {id: getCode() + '-payment-errors'}" class="message error"
                  style="display: none;"></span>

            <div class="payment-method-note">
                <strong>
                    <!-- ko text: $t('A secure Sage Pay iframe will open for you to input credit card details.') -->
                    <!-- /ko -->
                </strong>
            </div>
        </fieldset>

        <fieldset class="fieldset additional-newsletter-subscription">
			<p>
                <input type="checkbox" class="checkbox" name="email_optin_hd" id="email-optin-hd" data-bind="click: emailOptin" />
                <label class="label" for="email-optin-hd">
                    <!-- <span data-bind="i18n: 'Subscribe to our special offers'"></span> -->
					<strong>Keep me informed about special offers</strong>
					We will only send you details of our products, to help you save money and support your health.
                </label>
            </p>
            
            <p>
                <!--function(data, event) { alert('asd'); return true;-->
                <input type="checkbox" class="checkbox" name="email_optin_ph" id="email-optin-ph" data-bind="click: emailOptin" />
                <label class="label" for="email-optin-ph">
                    <!-- <span data-bind="i18n: 'Subscribe to our newsletter'"></span> -->
					<strong>Please send me Patrick's free health newsletter</strong>
					Stay up to date and fully informed about how to be healthy.
                </label>
            </p>
        </fieldset>
        
        <div id="sagepaysuiteserver-actions-toolbar" class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: preparePayment, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="text: $t('Continue')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
