<!--@subject A Gentle reminder from Patrick Holford @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">
                <h1>{{trans "A Gentle Reminder"}}</h1>
            </p>
            <p>Dear {{var customer_name}},</p>

            <p>If you’ve been taking {{var daily_usage}} {{var usage_qty}} a day of {{var product_name}} you’ll soon be due to order another. This is a gentle reminder. <a href="{{var product_url}}">Click here</a> to reorder.</p>
            <p>By the way, how are your feeling? Have you noticed a difference? How was this product for you? We love to hear people’s feedback – good, bad or neutral – and if you have a minute to spare add your review by clicking on the 'review' tab on the <a href="{{var product_review_url}}">product page</a>.</p>
            <p>Wishing you the best of health,</p>
            <p>Heather<br/>Customer Support</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p><strong>"The golden rule of optimum nutrition is to take in the optimal level of nutrients for you every single day, without fail."</strong> - Patrick Holford</p>
        </td>
    </td>
</table>
{{template config_path="design/email/footer_template"}}