<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';
    $mode = 'grid';
    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">

        <?php
            $combinedPrice = 0;
            $combinedMembersPrice = 0;
            $instock = 0;
            foreach ($items as $_item) {
                $price = $_item->getPrice();
                $combinedPrice += $price;
                $membersOverride = $_item->getMembersPriceOverride();
                if ($membersOverride >= 0.01){
                    $price = $membersOverride;
                }
                else {
                    $price -= (0.2 * $price);
                }
                $combinedMembersPrice += $price;
                
                if ($_item->isSaleable() || $_item->getIsSalable()) {
                    $instock++;
                }
            }
            
            $instockMsg = "All Items in Stock";
            if ($instock == 0) {
                $instockMsg = "All Items out of Stock";
            }
            else if ($instock < count($items)) {
                $instockMsg = "$instock Item(s) in Stock";
            }
        ?>
        
    <div class="pgp-content">
   
        <div class="pgp-left">         
            <div class="pgp-banner">
                <h1 class="pgp-banner-item-left">Combined Price: &pound;<?php echo number_format((float)$combinedPrice, 2, '.', ''); ?></h1>
                <h1 class="pgp-banner-item-center"><img src="<?php echo $this->getViewFileUrl('images/100_HEALTH_CLUB_LOGO_noborder.png'); ?>"  width="46" height="46" /> Members Price: <span style="color: #C3222F;">&pound;<?php echo number_format((float)$combinedMembersPrice, 2, '.', ''); ?></span></h1>
                <h1 class="pgp-banner-item-right"><?php echo $instockMsg; ?></h1>
            </div>

            <div class="block-content">
                <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
                <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                    <ol class="product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                        <?php $iterator = 1; ?>
                        <?php foreach ($items as $_item): ?>

                            <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                            <div class="product-item-info">
                                <a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-item-photo">
                                    <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                </a>
                                <div class="product details product-item-details">
                                
                                    <?php
                                        $authorName = $_item->getProductAuthor();
                                        if(strlen($authorName) >= 33){
                                            $stringCut = substr($authorName, 0, 33);
                                            $authorName = substr($stringCut, 0, strrpos($stringCut, ' ')).'...';
                                        }
                                        echo '<div class="smallAuthor">'.$authorName.'</div>';
                                    ?>
                                
                                    <span class="product-item-name" style="font-size:18px;">
                                        <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                           href="<?php echo $_item->getProductUrl() ?>"
                                           class="product-item-link">
                                            <?php
                                                $prodName = $block->escapeHtml($_item->getName());
                                                if(strlen($prodName) >= 23){
                                                    $stringCut = substr($prodName, 0, 23);
                                                    $prodName = substr($stringCut, 0, strrpos($stringCut, ' ')).'...';
                                                }
                                                echo $prodName;
                                             ?>
                                        </a>
                                    </span>
                                    
                                    <?php 
                                        $string = strip_tags($_item->getStrapline_description());
                                        $stringCut = substr($string, 0, 45);
                                        $string = substr($stringCut, 0, strrpos($stringCut, ' ')).'... <a href="'.$_item->getProductUrl().'">Read More</a>';
                                        echo '<div class="smallDescript">'.$string.'</div>';
                                        $categoryIds =  $_item->getCategoryIds();
                                        $categoryIdsDisountCheck = false;
                                        foreach ($categoryIds as $category){ 
                                            if($category == 5){
                                                $categoryIdsDisountCheck = true;
                                            }
                                        }
                                    ?>

                                    <?php
                                        $membersPrice = $_item->getPrice();
                                        
                                        echo "<div class='price-box price-final_price'><span class='price'>&pound;". number_format((float)$membersPrice, 2, '.', '') ."</span></div>";
                                
                                        $membersOverride = $_item->getMembersPriceOverride();
                                        if ($membersOverride >= 0.01){
                                            $membersPrice = $membersOverride;
                                        }
                                        else {
                                            $membersPrice -= (0.2 * $membersPrice);
                                        }
                                        $membersPriceDisplay = number_format((float)$membersPrice, 2, '.', '');
                                        echo '<div class="memPrice"><span class="memHigh">MEMBERS</span> &pound;'.$membersPriceDisplay.'</div>';
                                    ?>

                                    <div class="product-item-actions">
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <a class="action tocart primary"
                                                   href="<?php echo $_item->getProductUrl() ?>"
                                                   type="button" title="<?php  echo __('MORE INFO') ?>">
                                                    <span><?php echo __('MORE INFO') ?></span>
                                                </a>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    </ol>
                </div>
            </div>
        </div>
    
        <div class="pgp-right">
            <div class="pgp-form-box">
                <div class="pgp-right-header">Your Personalised Supplement Programme</div>    
                <form id="pgp-form" action="<?php echo $this->getAddActionUrl(); ?>" method="post">
                    <div class="pgp-form">
                        <?php
                        $i = 0;
                        foreach ($items as $_item) {
                            if ($_item->isSaleable() || $_item->getIsSalable()) { ?>
                            
                                <input type="hidden" name="pg[<?php echo $i; ?>]" value="<?php echo $_item->getId(); ?>" />
                            
                                <div class="pgp-form-item">
                                    <div class="pgp-form-item-image">
                                        <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                    </div>
                                    <div class="pgp-form-item-name">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </div>
                                    <div class="pgp-form-item-price">
                                        &pound;<?php echo number_format((float)$_item->getPrice(), 2, '.', '') ?>
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            <?php 
                                $i++;
                            }
                        } ?>
                        
                        <div class="pgp-member-savings">
                            As a member you'd save &pound;<?php echo number_format((float)($combinedPrice - $combinedMembersPrice), 2, '.', ''); ?> and get FREE delivery.
                        </div>
                        <div class="pgp-join-now">
                            <a href="https://www.patrickholford.com/health-club">
                                JOIN <img src="https://www.holfordirect.com/pub/media/wysiwyg/100_HEALTH_CLUB_LOGO_100.jpg" width="46" height="46" style="vertical-align: middle;"/> NOW
                            </a>
                        </div><br>
                        
                        <a class="action tocart primary" style="width: 100%;"
                           href="#"
                           type="button"
                           title="<?php  echo __('ADD TO BASKET') ?>"
                           onclick="document.getElementById('pgp-form').submit();">
                            <span><?php echo __('ADD TO BASKET') ?></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
<?php endif;?>
