<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php 
error_reporting(E_ALL);
ini_set('display_errors', 1);
?>
<div id="footerLogo"> <a href="https://www.holfordirect.com/index.php"><img src="<?php echo $block->getViewFileUrl('images/header/logo.png'); ?>" width="177" height="54" /></a></div>
<div id="footerPromo">
  <h2>Wish you were better informed?</h2>
  <h1>VISIT <a style="color:white;" href="https://www.patrickholford.com/" target="_blank">PATRICKHOLFORD.COM AND VISIT OUR SOCIAL PAGES</h1>
</div>
<div id="footerSocial">
  <div id="footerSocialEle"><a href="https://www.facebook.com/patrickholford" target="_blank"><img src="<?php echo $block->getViewFileUrl('images/footer/facebook.png'); ?>" width="14" height="26" /></a></div>
  <div id="footerSocialEle"><a href="https://twitter.com/patrickholford" target="_blank"><img src="<?php echo $block->getViewFileUrl('images/footer/twitter.png'); ?>" width="29" height="25" /></a></div>
  <div id="footerSocialEle"><a href="https://www.youtube.com/channel/UCd7wKACi_bJGdReZtu-FjSg" target="_blank"><img src="<?php echo $block->getViewFileUrl('images/footer/youtube.png'); ?>" width="37" height="26" /></a></div>
  <div id="footerSocialEleL"><a href="https://www.instagram.com/patrickholford7160/" target="_blank"><img src="<?php echo $block->getViewFileUrl('images/footer/instagram.png'); ?>" width="27" height="26" /></a></div>
</div>
<div id="footerNav">
  <ul>
    <li><a href="https://www.holfordirect.com/delivery/">Delivery</a></li>
    <li><a href="https://www.holfordirect.com/member-s-discounts/">Member&rsquo;s discounts</a></li>
    <li><a href="https://www.holfordirect.com/practitioners">Practitioners</a></li>
     <li><a href="https://www.holfordirect.com/previously-purchased/">Previously Purchased</a></li>
     <li><a href="https://www.holfordirect.com/trade/">Trade</a></li>
    <!--<li><a href="https://www.holfordirect.com/repeat-orders/">Repeat Orders</a></li>
     <li><a href="https://www.holfordirect.com/practitioners/">Practitioners</a></li>
    -->
  </ul>
  <ul>
    <li><strong><a href="https://www.holfordirect.com/supplements.html">SUPPLEMENTS</a></strong></li>
    <li><a href="https://www.holfordirect.com/supplements/essentials.html" >ESSENTIALS</a></li>
    <li><a href="https://www.holfordirect.com/supplements/metabolism.html" >METABOLISM</a></li>
    <li><a href="https://www.holfordirect.com/supplements/mind.html" >MIND</a></li>
    <li><a href="https://www.holfordirect.com/supplements/body.html" >BODY</a></li>
    <li><a href="https://www.holfordirect.com/supplements/children.html" >CHILDREN</a></li>
    <li><a href="https://www.holfordirect.com/supplements/women.html" >WOMEN</a></li>
    <li><a href="https://www.holfordirect.com/supplements/packs.html" >PACKS</a></li>
    <li><a href="https://www.holfordirect.com/supplements/other.html" >OTHER</a></li>
  </ul>
  <ul>
    <li><strong><a href="https://www.holfordirect.com/books-dvds.html" >BOOKS &amp; DVDs</a></strong></li>
    <li><a href="https://www.holfordirect.com/books-dvds/essentials.html" >ESSENTIALS</a></li>
    <li><a href="https://www.holfordirect.com/books-dvds/metabolism.html" >METABOLISM</a></li>
    <li><a href="https://www.holfordirect.com/books-dvds/mind.html" >MIND</a></li>
    <li><a href="https://www.holfordirect.com/books-dvds/body.html" >BODY</a></li>
    <li><a href="https://www.holfordirect.com/books-dvds/children.html" >CHILDREN</a></li>
    <li><a href="https://www.holfordirect.com/books-dvds/women.html" >WOMEN</a></li>
    <li><a href="https://www.holfordirect.com/catalog/category/view/s/other/id/25/" >OTHER</a></li>
    <li><a href="https://www.holfordirect.com/books-dvds/cookbooks.html" >COOKBOOKS</a></li>
  </ul>
  <ul>
    <li><strong><a href="https://www.holfordirect.com/food-drink.html">FOOD &amp; DRINK</a></strong></li>
    <li><a href="https://www.holfordirect.com/food-drink/foods.html" >FOODS</a></li>
    <li><a href="https://www.holfordirect.com/catalog/category/view/s/drinks/id/16/" >DRINKS</a></li>
    <li><a href="https://www.holfordirect.com/food-drink/gltyr-pleasures.html" >GLTY® PLEASURES</a></li>
  </ul>
  <ul>
    <li><strong><a href="/tests-skin-other.html">TESTS &amp; OTHER</a></strong></li>
    <li><a href="/tests-skin-other/skin.html" >SKIN</a></li>
    <li><a href="/tests-skin-other/water-filters.html" >WATER FILTERS</a></li>
    <li><a href="/tests-skin-other/tests.html" >TESTS</a></li>
  </ul>
  <ul>
    <li><a href="https://www.holfordirect.com/customer/account/login/">Sign In</a></li>
    <li><a href="https://www.holfordirect.com/catalogsearch/advanced/">Search</a></li>
    <li><a href="https://www.holfordirect.com/customer/account/">My Account</a></li>
  </ul>
</div>
<div id="footerCopyright">
  <?php /* @escapeNotVerified */ echo $block->getCopyright() ?>
</div>
<div id="footerCoreLinks">
  <ul>
    <li><a href="https://www.holfordirect.com/terms-conditions">Terms & Conditions</a></li>
    <li><a href="https://www.holfordirect.com/privacy-policy">Privacy Policy</a></li>
    <li><a href="https://www.holfordirect.com/cookies">Cookies</a></li>
    <li><a href="https://www.holfordirect.com/faqs">FAQS</a></li>
    <li><a href="https://www.holfordirect.com/sitemap">Sitemap</a></li>
  </ul>
</div>
