<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="footer-container">
    <div class="footer">
        <?php echo $block->getChildHtml() ?>
        <?php /* @escapeNotVerified */ echo $block->getCopyright() ?>
    </div>
</div>
