<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @see \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<nav class="navigation" role="navigation" >
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}' style="width:70%;float:left;">
		<!-- static cms page link -->
    	<li class="level0 nav-0 last level-top ui-menu-item" role="presentation"><a href="https://www.holfordirect.com/about-us" class="level-top ui-corner-all" id="ui-id-0" tabindex="-1" role="menuitem"><span>ABOUT US</span></a></li>

        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</nav>