<?php /** @var \Objectsource\EmailCart\Block\CartEmailBuilder $block */ ?>
<div class="form-email-cart-intro">
	<h3><?php /* @escapeNotVerified */ echo __('Practitioner Recommendation') ?></h3>
	<p><?php /* @escapeNotVerified */ echo __('As an approved practitioner you can recommend the items in your cart to your client. Fill in the details below;') ?></p>
</div>
<?php $cartItems = $block->getCartItems(); ?>
<?php if(!empty($cartItems)):?>
<div class="form-email-cart">
    <form class="form" action="<?php /* @escapeNotVerified */ echo $block->getUrl('emailcart/create/quote') ?>" method="post" id="form-email-cart" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
        <fieldset class="fieldset">
			<div class="field client_name required">
                <label class="label" for="client_name"><span><?php /* @escapeNotVerified */ echo __('Client Name') ?></span></label>
                <div class="control">
                    <input type="text" name="client_name" id="client_name" value="" title="<?php /* @escapeNotVerified */ echo __('Client Name') ?>" class="input-text" data-validate="{required:true}" placeholder="<?php /* @escapeNotVerified */ echo __('First name, last name') ?>" />
                </div>
            </div>
			<div class="field email required">
                <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Client Email') ?></span></label>
                <div class="control">
                    <input type="email" name="email" id="email" value="" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" placeholder="<?php /* @escapeNotVerified */ echo __('Clients email address') ?>"/>
                </div>
            </div>
            <div class="field address required">
                <label class="label" for="address"><span><?php /* @escapeNotVerified */ echo __('Practitioner Contact Details') ?></span></label>
                <div class="control">
                    <textarea id="address" name="address" class="input-text" data-validate="{required:true}" rows="5"><?php echo $block->getCustomerAddress(); ?></textarea>
                    <div class="note"><?php /* @escapeNotVerified */ echo __('These details will appear on the clients email') ?></div>
                </div>
            </div>            
            <div class="field notes">
                <label class="label" for="notes"><span><?php /* @escapeNotVerified */ echo __('Practitioner Notes (optional)') ?></span></label>
                <div class="control">
                    <textarea id="notes" name="notes" class="input-text" rows="5" placeholder="<?php /* @escapeNotVerified */ echo __('E.g Take these twice a day, one in the morning and one in the evening') ?>"></textarea>
                    <div class="note"><?php /* @escapeNotVerified */ echo __('These details will appear on the clients email') ?></div>
                </div>
            </div>

            <div class="field discount_code required">
                <label class="label" ><span><?php /* @escapeNotVerified */ echo __('Your Discount Code') ?></span></label>
                <div class="control">
                	<span><?php echo $block->getPractitionerCode(); ?></span>
					<input name="discount_code" type="hidden" value="<?php echo $block->getPractitionerCode(); ?>"/>
                </div>
            </div>
            
            <div class="field">
	            <label class="label"><?php /* @escapeNotVerified */ echo __('Your Recommended Items') ?></label>
	            <div class="control">
					<table class="form-email-cart-products">
					    <?php foreach($block->getCartItems() as $item): ?>
					        <tr><td width="50"><img src="<?php echo $item['product_image_url']; ?>"></td><td><?php echo $item['qty']; ?> x <?php echo $item['product_name']; ?></td></tr>
					    <?php endforeach;?>
	    			</table>		            
	            </div>
            </div>
            
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action primary" title="<?php /* @escapeNotVerified */ echo __('Email recommendation to client') ?>"><span><?php /* @escapeNotVerified */ echo __('Email recommendation to client') ?></span></button>
            </div>
        </div>
    </form>
</div>
    <script>
        require([
            "jquery",
            "mage/mage"
        ], function($){
            var dataForm = $('#form-email-cart');
            dataForm.mage('validation', {});
        });
    </script>
<?php else: ?>
    <p><?php /* @escapeNotVerified */ echo __('Please add items to your cart before you can send them to your clients.') ?></p>
<?php endif;?>
