<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>
<?php 

$stockItem = $_product->getExtensionAttributes()->getStockItem();

$_product_due_back = $_product->getDueBack();

if( $_product_due_back ){

    $_product_due_back = date("d M Y", strtotime($_product_due_back));
}
?>

<?php if ($block->displayProductStockStatus() && !$_product->getHidePrice()): ?>
    <?php if ($_product->isAvailable()): ?>
        <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
            <span>
                <?php if( $_product_due_back ): ?>
                    Due Back <?php echo $_product_due_back; ?>
                <?php elseif ( $stockItem->getQty() > 0 ): ?>
                    <?php /* @escapeNotVerified */ echo __('In stock'); ?>
                <?php endif; ?>
            </span>
        </div>
    <?php else: ?>
        <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
            <span><?php /* @escapeNotVerified */ echo __('Out of stock'); ?><?php if( $_product_due_back ): ?> - Due Back <?php echo $_product_due_back; ?><?php endif; ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
